@inject IStringLocalizer<Resource> _localizer

@code {
  [Parameter] public AnalyticsDto Analytics { get; set; } = default!;
}

<div class="row">
  <div class="col-4">
    <a class="dash-widget dash-link dash-stats" href="/admin/blog/">
      <span class="dash-stats-value">@Analytics.TotalPosts</span>
      <span class="dash-stats-name">@_localizer["posts"]</span>
    </a>
  </div>
  <div class="col-4">
    <a class="dash-widget dash-link dash-stats" href="/admin/pages/">
      <span class="dash-stats-value">@Analytics.TotalPages</span>
      <span class="dash-stats-name">@_localizer["pages"]</span>
    </a>
  </div>
  <div class="col-4">
    <a class="dash-widget dash-link dash-stats" href="/admin/newsletter/subscribers/">
      <span class="dash-stats-value">@Analytics.TotalSubscribers</span>
      <span class="dash-stats-name">@_localizer["subscribers"]</span>
    </a>
  </div>
</div>
