@inject HttpClient _http
@inject IStringLocalizer<Resource> _localizer

@if (_model != null)
{
	<div class="app-widget app-widget-stats  d-flex">
		<div class="app-widget-card app-widget-stats-item">
			<span class="app-widget-stats-number">@_model.TotalPosts</span>
			<span class="app-widget-stats-title">@_localizer["posts"]</span>
		</div>
		<div class="app-widget-card app-widget-stats-item">
			<span class="app-widget-stats-number">0</span>
			<span class="app-widget-stats-title">@_localizer["pages"]</span>
		</div>
		<div class="app-widget-card app-widget-stats-item">
			<span class="app-widget-stats-number">@_model.TotalViews</span>
			<span class="app-widget-stats-title">@_localizer["views"]</span>
		</div>
		<div class="app-widget-card app-widget-stats-item">
			<span class="app-widget-stats-number">@_model.TotalSubscribers</span>
			<span class="app-widget-stats-title">@_localizer["subscribers"]</span>
		</div>
	</div>
}

@code {
	protected AnalyticsModel _model;

	protected override async Task OnInitializedAsync()
	{
		_model = await _http.GetFromJsonAsync<AnalyticsModel>("api/analytics");
	}
}
