@inject HttpClient _http
@inject IStringLocalizer<Resource> _localizer

@if (_model != null)
{
     <div class="row">
        <div class="col-4">
            <div class="dash-widget dash-widget-info">
                <span class="dash-widget-info-icon">@_model.TotalPosts</span>
                <span class="dash-widget-info-name">@_localizer["posts"]</span>
            </div>
        </div>
        <div class="col-4">
            <div class="dash-widget dash-widget-info">
                <span class="dash-widget-info-icon">@_model.TotalPages</span>
                <span class="dash-widget-info-name">@_localizer["pages"]</span>
            </div>
        </div>
        <div class="col-4">
            <div class="dash-widget dash-widget-info">
                <span class="dash-widget-info-icon">@_model.TotalSubscribers</span>
                <span class="dash-widget-info-name">@_localizer["subscribers"]</span>
            </div>
        </div>
    </div>
}

@code {
	protected AnalyticsModel _model;

	protected override async Task OnInitializedAsync()
	{
		_model = await _http.GetFromJsonAsync<AnalyticsModel>("api/analytics");
	}
}
