@page
@model App.Pages.Admin.Posts.IndexModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
}
@{
    var ftr = new PostListFilter(HttpContext.Request);

    var pgr = Model.Pager;
    var cntFrom = pgr.CurrentPage == 1 ? 1 : (pgr.CurrentPage - 1) * pgr.ItemsPerPage + 1;
    var cntTo = pgr.CurrentPage * pgr.ItemsPerPage < pgr.Total ? pgr.CurrentPage * pgr.ItemsPerPage : pgr.Total;
}
<div class="bf-main">
    <div class="bf-sidebar d-lg-block">
        <form class="bf-posts-form-search" method="post">
            <input type="hidden" name="page" value="1" />
            <input type="hidden" name="status" value="@ftr.Status" />
            <input class="form-control form-control-sm form-control-rounded" type="search" name="search" placeholder="@Localizer["search"]..." autocomplete="off" />
        </form>
        <form id="frmPostFilter" class="bf-posts-filters">
            <div class="filter-group">
                <div class="filter-group-title"><span>@Localizer["status"]</span> <i class="fa fa-chevron-down d-block d-lg-none"></i></div>
                <ul class="filter-group-list">
                    <li>
                        <label class="custom-control custom-radio filters-label">
                            <input class="custom-control-input" type="radio" @ftr.IsChecked("A") name="status-filter" id="status-filter" value="A" onclick="postsController.filter()">
                            <span class="custom-control-label">@Localizer["all"]</span>
                        </label>
                        <label class="custom-control custom-radio filters-label">
                            <input class="custom-control-input" type="radio" @ftr.IsChecked("P") name="status-filter" id="status-filter" value="P" onclick="postsController.filter()">
                            <span class="custom-control-label">@Localizer["published"]</span>
                        </label>
                        <label class="custom-control custom-radio filters-label">
                            <input class="custom-control-input" type="radio" @ftr.IsChecked("D") name="status-filter" id="status-filter" value="D" onclick="postsController.filter()">
                            <span class="custom-control-label">@Localizer["draft"]</span>
                        </label>
                    </li>
                </ul>
            </div>
        </form>
    </div>
    <div class="bf-body">
        <!-- Grid -->
        <div class="bf-posts-grid d-flex" aria-label="posts">
            @foreach (var post in Model.Posts)
            {
                var dt = post.Published == DateTime.MinValue ? "DRAFT" : post.Published.ToFriendlyShortDateString();
                var img = string.IsNullOrEmpty(post.Cover) ? Model.Blog.Cover : post.Cover;
                img = $"{Url.Content("~/")}{img}";
                <div class="post-grid-col">
                    <div class="post-grid-item">
                        <a class="item-link" href="~/admin/posts/edit?id=@post.Id" style="background-image:url(@img);"><div class="item-title mt-auto">@post.Title</div></a>
                        <div class="item-info d-flex align-items-center">
                            <span class="item-date mr-auto">@dt</span>

                            @if (post.Published > DateTime.MinValue)
                            {
                                <a href="#" onclick="postsController.unpublish(@post.Id); return false;" class="item-show">
                                    <span class="item-status item-status-published ml-auto" data-tooltip title="@Localizer["published"]"><i class="fas fa-circle"></i></span>
                                </a>
                            }
                            else
                            {
                                <a href="#" onclick="postsController.publish(@post.Id); return false;" class="item-show ml-5">
                                    <span class="item-status item-status-draft ml-auto" data-tooltip title="@Localizer["draft"]"><i class="fas fa-circle"></i></span>
                                </a>
                            }

                            @if (Model.IsAdmin)
                            {
                                if (post.Featured)
                                {
                                    <button class="btn-unstyled item-favorite ml-3" data-tooltip="" title="" onclick="postsController.unfeature('@post.Id')" data-original-title="@Localizer["featured"]">
                                        <i class="fas fa-star"></i>
                                    </button>
                                }
                                else
                                {
                                    <button class="btn-unstyled item-favorite ml-3" data-tooltip="" title="" onclick="postsController.feature('@post.Id')" data-original-title="@Localizer["add-to-featured"]">
                                        <i class="far fa-star"></i>
                                    </button>
                                }
                            }
                            <a class="item-show ml-3" href="~/posts/@post.Slug" target="_blank" data-tooltip="" title="" data-original-title="@Localizer["view"]"><i class="fas fa-external-link-square-alt"></i></a>
                            <a class="item-show ml-4" href="#" onclick="postsController.remove(@post.Id); return false;" data-tooltip="" title="" data-original-title="@Localizer["delete"]"><i class="fas fa-trash" style="color: #ff6666"></i></a>
                        </div>
                    </div>
                </div>
            }
        </div>
        <!--/Grid -->
        <!-- Empty -->
        @if (Model.Posts.Count() == 0)
        {
        <div class="bf-list-empty">
            @Localizer["not-found"]!
        </div>
        }
        <!--/Empty -->
        <!-- Pagination -->
        @if (pgr.ShowNewer || pgr.ShowOlder)
        {
            <ul class="bf-pagination d-flex">
                @if (pgr.ShowOlder)
                {
                    <li class="bf-pagination-item"><a class="bf-pagination-link" href="~/admin/posts?pg=@pgr.Older@ftr.Qstring"><i class="bf-pagination-icon fa fa-chevron-left"></i></a></li>
                }
                @if (pgr.ShowNewer)
                {
                    <li class="bf-pagination-item"><a class="bf-pagination-link" href="~/admin/posts?pg=@pgr.Newer@ftr.Qstring"><i class="bf-pagination-icon fa fa-chevron-right"></i></a></li>
                }
                <li class="bf-pagination-item"><span class="bf-pagination-count">@cntFrom-@cntTo out of @pgr.Total</span></li>
            </ul>
        }
        <!--/Pagination -->
    </div>
</div>

@section Scripts{
    <script src="~/admin/js/app/postsController.js"></script>
}
