<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApp</title>
    <link rel="stylesheet" href="~/sample/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/sample/css/styles.min.css?v=kV71e_YcyYBN1q9bxoNObvVLErsCB5_N75krHUEhDs8">
    <link href="~/embedded/lib/img/favicon.ico" rel="shortcut icon">

</head>
<body>
    <header class="sample-header">
        <div class="container">
            <h1><a asp-area="" asp-controller="Home" asp-action="Index"><img src="~/sample/img/logotype.png" alt="Blogifier" /></a></h1>
            <p>This is a demo site to showcase Blogifier - you can just browse blogs or register new account and try administration section. It is a playground with regular cleanup.</p>
            @await Html.PartialAsync("_LoginPartial")
        </div>
    </header>
    <div class="sample-content container">
        @RenderBody()
    </div>
    <footer class="sample-footer container">
        <a href="https://github.com/blogifierdotnet/Blogifier.Core/" target="_blank"><img src="~/sample/img/github-logo.png" alt="github" /></a>
        <p>&copy; @DateTime.Now.Year - Blogifier (Version @Blogifier.Core.Common.ApplicationSettings.Version)</p>
    </footer>
    <script src="~/sample/js/jquery-3.2.1.slim.min.js"></script>
    <script src="~/sample/js/popper.min.js"></script>
    <script src="~/sample/js/bootstrap.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>