@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain
@using System.Collections.Generic
@using Blogifier.Core.Extensions
@using Blogifier.Core.Data.Models
@model BlogCategoryModel

<main class="page-category">
    <header class="cover" style="background-image: url('@ApplicationSettings.ProfileImage')">
        <div class="cover-title container">
            <h2>@Model.Category.Title</h2>
            <p class="text-uppercase">Category</p>
        </div>
    </header>

    <div class="blog-content container">
        <section class="row">
            @if (Model != null)
            {
                foreach (var item in Model.Posts)
                {
                    <div class="col-md-6 post">
                        <article class="post-item">
                            <div class="post-item-cover">
                                <img class="post-item-img" src="@item.Image" alt="@item.Title" />
                                <div class="post-item-head">
                                    <p class="post-item-info">By <a href="~/blog/@item.BlogSlug">@item.AuthorName</a> &mdash; @item.Published.ToFriendlyDateString()</p>
                                    <h2 class="post-item-title"><a href="~/blog/@item.Slug">@item.Title</a></h2>
                                </div>
                            </div>
                            <div class="post-item-content">
                                <p class="post-item-text dot-resize-update">@Html.Raw(item.Content) </p>
                                <a class="post-item-more" href="~/blog/@item.Slug">Read More...</a>
                            </div>
                        </article>
                    </div>
                }
            }
        </section>
        @if (Model != null)
        {
            <ul class="pagination justify-content-center">
                @if (Model.Pager.ShowOlder)
                {
                    <li class="page-item prev"><a href="~/category/@Model.Category.Slug/@Model.Pager.Older"><i class="fa fa-angle-left"></i> <span>Older Posts</span></a></li>
                }
                @if (Model.Pager.ShowNewer)
                {
                    <li class="page-item next"><a href="~/category/@Model.Category.Slug/@Model.Pager.Newer"><span>Newer Posts</span> <i class="fa fa-angle-right"></i></a></li>
                }
            </ul>
        }

    </div>
</main>