@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain
@using System.Collections.Generic
@using Blogifier.Core.Extensions
@using Blogifier.Core.Data.Models
@model BlogPostsModel
@{
    var bg = ApplicationSettings.ProfileImage;
}
@if (Model != null)
{
    foreach (var item in Model.Posts)
    {

        <article class="post-item">
            <div class="container">
                <div class="row">
                    <div class="post-item-col col-6">
                        <img class="post-item-img" src="@item.Image" alt="@item.Title" />
                    </div>
                    <div class="post-item-col col-6">
                        <p class="post-item-info">By <a href="~/author/@item.BlogSlug">@item.AuthorName</a> &mdash; @item.Published.ToFriendlyDateString()</p>
                        <h2 class="post-item-title"><a href="~/blog/@item.Slug">@item.Title</a></h2>
                        <p class="post-item-content">@Html.Raw(item.Content)</p>
                        <a class="post-item-more" href="~/blog/@item.Slug">Read More</a>
                    </div>
                </div>
            </div>
        </article>

    }
}
@if (Model != null)
{
    <ul class="pagination justify-content-center">
        @if (Model.Pager.ShowOlder)
                {
            <li class="page-item"><a class="page-link" href="~/blog/@Model.Pager.Older"><span aria-hidden="true">&larr;</span> Older</a></li>
        }
        @if (Model.Pager.ShowNewer)
                {
            <li class="page-item"><a class="page-link" href="~/blog/@Model.Pager.Newer">Newer <span aria-hidden="true">&rarr;</span></a></li>
        }
    </ul>
}

