@model Blogifier.Core.Data.Models.BlogPostDetailModel
@using Blogifier.Core.Common
@{
    var bg = Model.BlogPost.Image == null ? ApplicationSettings.PostImage : Model.BlogPost.Image;
}
<article class="post-single">
    <header class="cover" style="background-image: url('@bg')">
        <img class="cover-img" src="@bg" alt="@Model.BlogPost.Title" />
        <div class="cover-title container">
            <h1>@Model.BlogPost.Title</h1>
            <p>
            <span class="post-single-author">by <a href="~/@Constants.BlogRoute@Model.BlogPost.Profile.Slug">@Model.BlogPost.Profile.AuthorName</a></span>
            /
            <span class="post-single-date">@string.Format("{0:MMM d, yyyy}", Model.BlogPost.Published)</span>
            @if (Model.Categories.Count > 0)
            {
                <span class="post-single-category">
                    /
                    @foreach (var cat in Model.Categories)
                    {
                        <a href="~/@Constants.BlogRoute@Model.Profile.Slug/@cat.Value">@cat.Text</a>
                    }
                </span>
            }
            </p>
        </div>
    </header>
    <section class="blog-content container">
        <div class="post-single-content">
            @Html.Raw(Model.BlogPost.Content)
        </div>
        @if (Model.DisqusScript != null && !string.IsNullOrEmpty(Model.DisqusScript.CustomValue))
        {
            <footer class="post-single-comment">
                <div id="disqus_thread"></div>
                @Html.Raw(Model.DisqusScript.CustomValue)
            </footer>
        }
    </section>
</article>