@model Blogifier.Core.Data.Models.BlogPostDetailModel
@using Blogifier.Core.Common
@{
    var bg = Model.BlogPost.Image == null ? ApplicationSettings.PostImage : Model.BlogPost.Image;
}
<article class="post-single">

    <header class="post-single-cover">
        <img class="post-single-img" src="@bg" alt="Alternate Text" />
        <div class="post-single-title">
            <h1>@Model.BlogPost.Title</h1>
            <p class="post-single-info">
                <span class="post-single-author">by <a href="~/author/@Model.BlogPost.Profile.Slug">@Model.BlogPost.Profile.AuthorName</a></span>
                /
                <span class="post-single-date">@string.Format("{0:MMM d, yyyy}", Model.BlogPost.Published)</span>
                @if (Model.Categories.Count > 0)
                {
                    <span class="post-single-category">
                        /
                        @foreach (var cat in Model.Categories)
                        {
                        <a href="~/category/@cat.Value">@cat.Text</a>
                        }
                    </span>
                }
            </p>
        </div>
    </header>
    <div class="blog-content container">
        <div class="post-single-content">
            @Html.Raw(Model.BlogPost.Content)
        </div>
        <form role="form">
            <div id="disqus_thread"></div>
            @if (Model.DisqusScript != null)
            {
                @Html.Raw(Model.DisqusScript.CustomValue)
            }
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
        </form>
    </div>
</article>