@using Blogifier.Core.Common
@{
    var avatar = ApplicationSettings.ProfileAvatar;
    var userName = "";
    var blogTitle = ApplicationSettings.Title;
    var blogDesc = ApplicationSettings.Description;
    var blogImg = ApplicationSettings.ProfileImage;
    if (Model.Profile != null)
    {
        userName = Model.Profile.AuthorName;
        blogTitle = Model.Profile.Title;
        blogDesc = Model.Profile.Description;
        blogImg = string.IsNullOrEmpty(Model.Profile.Image) ? blogImg : Model.Profile.Image;
        if (!string.IsNullOrEmpty(Model.Profile.Avatar))
        {
            avatar = Model.Profile.Avatar;
        }
    }
}

@*<div class="bf-nav dropdown">
        <button class="bf-nav-toggle dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img alt="@userName" src="@avatar"></button>
        <div class="bf-nav-content dropdown-menu dropdown-menu-right">
            <div class="bf-nav-cover" style="background-image:url(@blogImg);">
                <h2>@blogTitle</h2>
                <p>@blogDesc</p>
            </div>
            <ul class="bf-nav-list">
                <li><a href="~/admin" title="Posts"><i class="fa fa-align-left"></i></a></li>
                <li><a href="~/admin/settings/profile" title="Settings"><i class="fa fa-cog"></i></a></li>
                <li><a href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug" target="_blank" title="View Blog"><i class="fa fa-external-link-square"></i></a></li>
                <li><a data-toggle="modal" data-target="#aboutBlogifier" title="About"><img src="/embedded/lib/img/logo-sm.png" alt="BF" /></a></li>
                <li><a onclick="profileLogOut(); return false;" title="Logoff"><i class="fa fa-power-off"></i></a></li>
            </ul>
        </div>
    </div>*@

<div class="bf-nav dropdown">
    <button class="dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><img src="@avatar" alt="@userName"></button>
    <ul class="dropdown-menu dropdown-menu-right">
        <li><a class="dropdown-item" href="~/admin"><i class="fa fa-align-left"></i>Posts</a></li>
        <li><a class="dropdown-item" href="~/admin/settings/profile"><i class="fa fa-cog"></i>Settings</a></li>
        <li><a class="dropdown-item" href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug" target="_blank"><i class="fa fa-external-link-square"></i>View Blog</a></li>
        <li><a class="dropdown-item" onclick="profileLogOut(); return false;"><i class="fa fa-power-off"></i>Logoff</a></li>
        <li><a class="dropdown-item" href="" data-toggle="modal" data-target="#aboutBlogifier"><img src="/embedded/lib/img/logo-sm.png" alt="BF" />About</a></li>
    </ul>
</div>