@model PostModel
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/star/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"]">
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <partial name="~/Views/Themes/star/_Shared/_Header.cshtml" />



    <div class="page-content">

        <article class="post-single">
            <div class="post-cover">
                <img class="post-cover-img" src="@Model.Blog.Cover" alt="@Model.Post.Title">

                <header class="post-header container">
                    <time class="post-time">@string.Format("{0:MMM d, yyyy}", Model.Post.Published)  / </time>
                    <span class="post-category">

                        @if (!string.IsNullOrEmpty(Model.Post.Categories))
                                            {
                                            var cats = Model.Post.Categories.Split(',');

                                            foreach (var cat in cats)
                                            {
                        <a href="~/categories/@cat">@cat</a>
                                            }
                                            }
                    </span>


                    <h2 class="post-title">@Model.Post.Title</h2>

                    <a class="post-author" href="~/authors/@Model.Post.Author.AppUserName">
                        <img class="post-author-avatar" src="~/@Model.Post.Author.Avatar" alt="@Model.Post.Author.DisplayName" />
                        <span class="post-author-name">@Model.Post.Author.DisplayName</span>
                    </a>

                </header>
            </div>
            <div class="container">

                <div class="post-content">@Html.Raw(Model.Post.Content)</div>
            </div>
        </article>







        @if (Model.Older != null || Model.Newer != null)
                {
        <ul class="pagination justify-content-center">
            @if (Model.Older != null)
                        {
            <li class="item item-prev">
                <a class="item-link" href="~/posts/@Model.Older.Slug" title="@Model.Older.Title">
                    <i class="fa fa-chevron-left"></i>
                </a>
            </li>
                        }
            @if (Model.Newer != null)
                        {
            <li class="item item-next">
                <a class="item-link" href="~/posts/@Model.Newer.Slug" title="@Model.Newer.Title">
                    <i class="fa fa-chevron-right"></i>
                </a>
            </li>
                        }
        </ul>
                }
    </div>




    <partial name="~/Views/Themes/star/_Shared/_Footer.cshtml" />
</body>
</html>
