@using Blogifier.Core.Common
<!DOCTYPE html>
<html lang="en">
@Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_Head.cshtml")
<body>
    @Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_Nav.cshtml")
    <div class="app">
        <div class="app-body">
            <div class="app-sidebar">
                <ul class="nav flex-column nav-pills">
                    <li class="nav-item">
                        <a class="nav-link" href="~/admin/settings/profile">Edit Profile</a>
                    </li>
                    @if (ApplicationSettings.SingleBlog == false)
                    {
                        <li class="nav-item"><a class="nav-link" href="~/admin/settings/personal">Blog Settings</a></li>
                    }
                    <li class="nav-item"><a class="nav-link" href="~/admin/settings/custom">Custom Code</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/admin/settings/import">Import Rss</a></li>
                    @if (Model.Profile != null && Model.Profile.IsAdmin)
                    {
                        <li class="nav-item"><a class="nav-link" href="~/admin/settings/appsettings">Application Settings</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/admin/settings/application">Administration</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/admin/settings/about">About</a></li>
                    }
                </ul>
            </div>
            <div class="app-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_Foot.cshtml")
    @RenderSection("Scripts", false)
</body>
</html>