@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Http
@using System.Security.Claims
@using Blogifier.Shared
@using Blogifier.Services
@using System.Collections.Generic

@implements IDisposable

@inject IJSRuntime JSRuntime
@inject IHttpClientFactory ClientFactory
@inject IMessageService _commentsRenderTrigger
@inject AuthenticationStateProvider _stateProvider
@inject IHttpContextAccessor _contextAccessor

@if (CurrentUser.Identity.IsAuthenticated)
{
    if (!ShowMainEditorDone)
    {
        <CommentEditor PostSlug="@PostSlug" PostId="@PostId" Toolbar="@Toolbar">
        </CommentEditor>
    }
}
else
{
    <FakeEditor CurrentPath="@CurrentPath"></FakeEditor>
}

@if (CommentDTOs is not null)
{
    if (CommentDTOs.Count > 0)
    {
        foreach (var commentTree in CommentDTOs)
        {
            <div class="container border-0 p-0">
                <div class="row">
                    <CommentCard Comment="@commentTree.MainComment" @key="@commentTree.MainComment.CommentContent" />
                </div>
                @if (commentTree.SubComments.Count > 0)
                {
                    foreach (var subComment in commentTree.SubComments)
                    {
                        <p></p>
                        <div class="row">
                            <div class="col-md-1 col-sm-1 col-lg-1"></div>
                            <CommentCard Comment="@subComment" @key="subComment.CommentContent" />
                        </div>
                    }
                }
            </div>
            <p></p>
            @if (ShowSubEditor && (commentTree.MainComment.Id == EditorForId))
            {
                if (CurrentUser.Identity.IsAuthenticated)
                {
                    @* if (ShowSubEditorbyContent)
                        {
                        <CommentEditor PostSlug="@PostSlug" PostId="@PostId" Toolbar="@Toolbar" ParentCommentId="@EditorForId.Value"
                        EditedCommentId="@EditCommentId" LoadContent="@ContentToLoad">
                        </CommentEditor>
                        }
                        else
                        {
                        <CommentEditor PostSlug="@PostSlug" PostId="@PostId" Toolbar="@Toolbar" ParentCommentId="@EditorForId.Value">
                        </CommentEditor>
                        } *@
                    <CommentEditor PostSlug="@PostSlug" PostId="@PostId" Toolbar="@Toolbar" ParentCommentId="@EditorForId"
    EditedCommentId="@EditCommentId" LoadContent="@ContentToLoad" @key="ContentToLoad">
                    </CommentEditor>
                }
                else
                {
                    <FakeEditor CurrentPath="@CurrentPath"></FakeEditor>
                }
            }
        }
    }
    else
    {
        <p></p>
    }
}

@code {
    [Parameter] public string PostSlug { get; set; }
    [Parameter] public string CurrentPath { get; set; }
    [Parameter] public string Toolbar { get; set; }
    [Parameter] public int PostId { get; set; }
    private ClaimsPrincipal CurrentUser;
    public List<CommentDTO> CommentDTOs;
    //public string Content = string.Empty;
    public HttpResponseMessage responseMessage;
    private HttpClient _http;
    private bool ShowSubEditor = false;
    //private bool ShowSubEditorbyContent = false;
    //private bool ShowFakeEditor { get; set; } = false;
    private long? EditorForId = null;
    private long? EditCommentId = null;
    private bool ShowMainEditorDone = false;
    //private string textAreaId;
    private string ContentToLoad = null;
    protected override async Task OnInitializedAsync()
    {
        _commentsRenderTrigger.OnMessageAsync += MessageHandler;
        var authState = await _stateProvider.GetAuthenticationStateAsync();
        CurrentUser = authState.User;
        await Load();
    }
    public void Dispose()
    {
        _commentsRenderTrigger.OnMessageAsync -= MessageHandler;
    }

    protected async Task Load()
    {
        //ShowMainEditor = true;
        _http = ClientFactory.CreateClient("Local");
        CommentDTOs = await _http.GetFromJsonAsync<List<CommentDTO>>($"api/comment/get/{PostSlug}");
    }

    private async Task MessageHandler(string message, long commentIdforPosition, long commentId)
    {
        if (String.Equals(message, Constants.ComponentUpdate))
        {
            CommentDTOs = await _http.GetFromJsonAsync<List<CommentDTO>>($"api/comment/get/{PostSlug}");
            ShowSubEditor = false;
        }
        if (String.Equals(message, Constants.ComponentShowEditor))
        {
            ShowSubEditor = true;
            ShowMainEditorDone = false;
            EditorForId = commentIdforPosition;
            EditCommentId = null;
            ContentToLoad = string.Empty;
        }
        if (String.Equals(message, Constants.ComponentShowEditorbyContent))
        {
            ShowSubEditor = true;
            ShowMainEditorDone = false;
            //ShowSubEditorbyContent = true;
            EditorForId = commentIdforPosition;
            EditCommentId = commentId;
            if (commentIdforPosition == commentId)
            {
                ContentToLoad = CommentDTOs
                .Where(cd => cd.MainComment.Id == commentIdforPosition).First().MainComment.CommentContent;
            }
            else
            {
                ContentToLoad = CommentDTOs
                .Where(cd => cd.MainComment.Id == commentIdforPosition).First()
                .SubComments.Where(c => c.Id == commentId).First().CommentContent;
            }
        }
        if (String.Equals(message, Constants.HideSubEditor))
        {
            ShowSubEditor = false;
        }
        StateHasChanged();
    }
    /*
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
    if (!firstRender && ShowSubEditor && ShowSubEditorbyContent)
    {
    await JSRuntime.InvokeVoidAsync("commonJsFunctions.setEditorValue", ContentToLoad, "sub");
    }
    else
    {
    }
    }*/

    protected async Task AlertDeBug(string info)
    {
        await JSRuntime.InvokeVoidAsync("commonJsFunctions.tempAlert", info);
    }
}