@model ListModel
@inject Core.Services.IDataService _db
@{
    ViewData["bodyClass"] = "home";
    var pgr = Model.Pager;

    var first3 = _db.BlogPosts.All().OrderByDescending(p => p.Published).Take(3).ToList();

    var returnUrl = Url.Action("Index", "Admin");

}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/ocean/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"]">

    <partial name="~/Views/Themes/ocean/_Shared/_Header.cshtml" />



    
    <div class="container">
        <div class="page-content">

            @if (Model.PostListType == PostListType.Search)
                    {
            <h2 class="page-search-title"><i class="fa fa-search"></i> @Model.Blog.Title</h2>
                    }
                    else if (Model.PostListType == PostListType.Author)
                    {
            <div class="page-author">
                <h2 class="page-author-title">
                    <img src="~/@Model.Author.Avatar" class="page-author-avatar" />
                    <span class="page-author-name">@Model.Author.DisplayName</span>
                </h2>
            </div>
                    }
                    else if (Model.PostListType == PostListType.Category)
                    {
            <h2 class="page-category-title"><i class="fa fa-tag"></i> @ViewBag.Category</h2>
                    }
                    else
                    {

                    }

            <div class="row no-gutters">
                @if (Model.Posts != null)
                    {
                        foreach (var item in Model.Posts)
                        {
                            var img = string.IsNullOrEmpty(item.Cover) ? Model.Blog.Cover : item.Cover;
                <div class="col-sm-4">
                    <article class="post">
                        <div class="post-cover">

                            <ul class="post-categories">
                                <li><a href="#">Technology</a></li>
                                <li><a href="#">Microsoft</a></li>
                            </ul>

                            <a href="~/posts/@item.Slug">
                                <img src="~/@img" alt="@item.Title">
                            </a>
                            @if (item.Featured)
                                    {
                            <span class="post-featrued-label"><i class="fa fa-star"></i> Featured</span>
                                    }
                        </div>
                        <div class="post-meta">
                            By <a class="post-meta-author" href="~/authors/@item.Author.AppUserName">@item.Author.DisplayName</a>
                            On <time class="post-meta-time">@item.Published.ToFriendlyDateString()</time>
                        </div>
                        <h2 class="post-title"><a href="~/posts/@item.Slug">@item.Title</a></h2>

                    </article>
                </div>
                            }
                            }
            </div>

            @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
                    {
            <ul class="pagination justify-content-center">
                @if (pgr.ShowOlder)
                            {
                <li class="item item-prev">
                    <a class="item-link" href="~/@pgr.LinkToOlder">
                        <i class="fa fa-chevron-left mr-3"></i>   Previous Page
                    </a>
                </li>
                            }
                @if (pgr.ShowNewer)
                            {
                <li class="item item-next">
                    <a class="item-link" href="~/@pgr.LinkToNewer">
                        Next Page  <i class="fa fa-chevron-right  ml-3"></i>
                    </a>
                </li>
                            }
            </ul>
                    }
        </div>
    </div>



    <partial name="~/Views/Themes/ocean/_Shared/_Footer.cshtml" />

    <div class="blog-admin">
        @if (User.Identity.IsAuthenticated)
            {
        <a href="~/admin"><i class="fa fa-user"></i></a>
            }
            else
            {
        <a href="~/account/login?ReturnUrl=@returnUrl"><i class="fa fa-login"></i></a>
            }
    </div>
</body>
</html>
