@using Blogifier.Core.Common
@{ 
    var themeFolder = "embedded/blog/standard";
    //var themeFolder = "blogifier/blog/custom";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="@ApplicationSettings.Description">
    <meta name="author" content="Blogifier">
    <title>@ApplicationSettings.Title</title>
    <link href="~/@themeFolder/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/@themeFolder/lib/fonts/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="~/@themeFolder/css/clean-blog.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-default navbar-custom navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="~/">Home</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    
                    <li><a href="~/blog">Blog</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                    <li><a href="~/admin">Admin</a></li>
                    }
                    <li style="padding: 10px 25px">
                        <form role="search" asp-controller="Search" asp-action="Index" method="post">
                            <input type="text" id="term" name="term" class="form-control" placeholder="Search...">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    @RenderBody()
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <ul class="list-inline text-center">
                        <li>
                            <a href="https://twitter.com/@@blogifierdotnet" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.facebook.com/blogifierdotnet/" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="~/blog/rss" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                    <p class="copyright text-muted">Copyright &copy; @ApplicationSettings.Title @DateTime.Now.Year</p>
                </div>
            </div>
        </div>
    </footer>
    <script src="~/@themeFolder/lib/jquery/jquery.min.js"></script>
    <script src="~/@themeFolder/lib/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/@themeFolder/js/clean-blog.min.js"></script>
</body>
</html>