@model Blogifier.Core.Data.Models.AdminApplicationModel
@using Blogifier.Core.Common
@using Blogifier.Core.Extensions
@{
    Layout = $"~/{ApplicationSettings.BlogAdminFolder}/_Layout/_Layout.cshtml";

    var pgr = Model.Pager;
    var cntFrom = pgr.CurrentPage == 1 ? 1 : (pgr.CurrentPage - 1) * pgr.ItemsPerPage + 1;
    var cntTo = pgr.CurrentPage * pgr.ItemsPerPage < pgr.Total ? pgr.CurrentPage * pgr.ItemsPerPage : pgr.Total;
}
<div class="bf-settings bf-settings-application">
    @foreach (var blog in Model.Blogs)
    {
        <div class="item-blog">
            <div class="item-blog-head clearfix">
                <h4 class="float-left"><a href="~/@blog.Url" target="_blank">@blog.Title</a></h4>
                <div class="btn-group float-right">
                    @if (!blog.IsAdmin)
                    {
                        <div class="loading  float-md-left ml-md-3"><div class="loading-dot-1"></div><div class="loading-dot-2"></div><div class="loading-dot-3"></div></div>
                        <button type="button" onclick="return toolsController.deleteBlog('@blog.ProfileId')" class="btn btn-outline-secondary btn-sm btn-icon" title="Delete"><i class="fa fa-trash"></i></button>
                    }
                </div>
            </div>
            <div class="item-blog-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="item-blog-info">
                            <li><span>Identity</span><span>@blog.IdentityName</span></li>
                            <li><span>Author</span><span>@blog.AuthorName</span></li>
                            <li><span>Is admin</span><span>@blog.IsAdmin</span></li>
                            <li><span>Email</span><span>@blog.Email</span></li>
                            <li><span>Updated</span><span>@string.Format("{0:MMM d, yyyy}", blog.LastUpdated)</span></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="item-blog-info">
                            <li><span>Posts</span><span>@blog.PostCount</span></li>
                            <li><span>Post views</span><span>@blog.PostViews</span></li>
                            <li>&nbsp;</li>
                            <li><span>Assets</span><span>@blog.AssetCount</span></li>
                            <li><span>Disk usage</span><span>@blog.DiskUsage.ToPrettySize(1)</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

@if (pgr.ShowNewer || pgr.ShowOlder)
{
    <ul class="bf-posts-pagination">
        @if (pgr.ShowOlder)
        {
            <li class="item"><a class="item-link" href="~/admin/settings/application?page=@pgr.Older"><i class="fa fa-chevron-left"></i></a></li>
        }
        @if (pgr.ShowNewer)
        {
            <li class="item"><a class="item-link" href="~/admin/settings/application?page=@pgr.Newer"><i class="fa fa-chevron-right"></i></a></li>
        }
        <li class="item"><a class="item-count">@cntFrom-@cntTo out of @pgr.Total</a></li>
    </ul>
}

@section Scripts{
    <script src="~/blogifier/admin/js/app/toolsController.js"></script>
}