@model IEnumerable<PostItem>
@if (Model != null)
{
    foreach (var item in Model)
    {
        var img = string.IsNullOrEmpty(item.Cover) ? AppSettings.DefaultCover : item.Cover;
        var cont = AppSettings.UseDescInPostList ? item.Description : item.Content;
        <article class="post">
            <div class="post-cover">
                <img src="~/@img" alt="@item.Title">
                @if (item.Featured)
                {
                <span class="post-featrued-label"><i class="fa fa-star"></i> Featured</span>
                }
            </div>
            <h2 class="post-title"><a href="~/blog/@item.Slug">@item.Title</a></h2>
            <div class="post-meta">
                <a class="post-meta-author" href="~/authors/@item.Author.AppUserName">@item.Author.DisplayName</a>
                <time class="post-meta-time">/ @item.Published.ToFriendlyDateString()</time>
            </div>
            <div class="post-description">@Html.Raw(Markdig.Markdown.ToHtml(cont))</div>
            <a class="post-more btn btn-rounded btn-dark" href="~/blog/@item.Slug">Read</a>
        </article>
    }
}