@using Blogifier.Core.Common
@{
    var page = "posts";
    var path = Context.Request.Path.ToString().ToLower();

    if (path.Contains("/admin/settings")){ page = "settings"; }
    if (path.Contains("/admin/editor")) { page = "editor"; }
    if (path.Contains("/admin/packages")) { page = "packages"; }

    var usr = "0";
    if (!string.IsNullOrEmpty(Context.Request.Query["user"]))
    {
        usr = Context.Request.Query["user"].ToString();
    }
    var usrChecked = usr == "0" ? "checked" : "";

    var stat = "A";
    if (!string.IsNullOrEmpty(Context.Request.Query["status"]))
    {
        stat = Context.Request.Query["status"].ToString();
    }

    var cats = new List<string>();
    if (!string.IsNullOrEmpty(Context.Request.Query["cats"]))
    {
        cats = Context.Request.Query["cats"].ToString().Split(',').ToList();
    }
}
<form id="frmPostFilter" class="nav-item-body bf-posts-filters">
    @if (Model.Profile.IsAdmin)
    {
        <div class="filters-group filters-group-users">
            <div class="filters-group-title">Users</div>
            <label class="filters-label custom-control custom-radio">
                <input type="radio" name="user-filter" id="user-filter" value="0" @usrChecked onclick="postsController.filter()" class="custom-control-input">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">My posts</span>
            </label>
            @foreach (var user in Model.Users)
            {
                usrChecked = user.Id.ToString() == usr ? "checked" : "";
                <label class="filters-label custom-control custom-radio">
                    <input type="radio" name="user-filter" id="user-filter" value="@user.Id" @usrChecked onclick="postsController.filter()" class="custom-control-input">
                    <span class="custom-control-indicator"></span>
                    <span class="custom-control-description">@user.AuthorName</span>
                </label>
            }
        </div>
    }
    <div class="filters-group filters-group-status">
        <div class="filters-group-title">Status</div>
        @foreach (var ftr in Model.StatusFilter)
        {
            var statChecked = stat == ftr.Value ? "checked" : "";
            <label class="filters-label custom-control custom-radio"><input type="radio" name="status-filter" id="status-filter" value="@ftr.Value" @statChecked onclick="postsController.filter()" class="custom-control-input"><span class="custom-control-indicator"></span><span class="custom-control-description">@ftr.Text</span></label>
        }
    </div>
    @if (Model.CategoryFilter != null && Model.CategoryFilter.Count > 0)
    {
        <div class="filters-group filters-group-category">
            <div class="filters-group-title">Categories</div>
            <div class="filters-group-category-list" data-simplebar>
                @foreach (var cat in Model.CategoryFilter)
                {
                    var isChecked = cats.Contains(cat.Value.ToString()) ? "checked" : "";
                    <label class="filters-label custom-control custom-checkbox"><input type="checkbox" name="category-filter" id="category-filter" value="@cat.Value" @isChecked onclick="postsController.filter()" class="custom-control-input chk"><span class="custom-control-indicator"></span><span class="custom-control-description">@cat.Text</span></label>
                }
            </div>
        </div>
    }
</form>
