@model Blogifier.Core.Data.Models.AdminPostsModel
@using Blogifier.Core.Extensions
@using Blogifier.Core.Common;
@{ 
    var pgr = Model.Pager;
    var cntFrom = pgr.CurrentPage == 1 ? 1 : (pgr.CurrentPage - 1) * pgr.ItemsPerPage + 1;
    var cntTo = pgr.CurrentPage * pgr.ItemsPerPage < pgr.Total ? pgr.CurrentPage * pgr.ItemsPerPage : pgr.Total;
}
<div class="admin-content admin-content-posts container">
    <div class="admin-toolbar">
        <a href="~/admin/editor/0" class="btn btn-black btn-main">New</a>
    </div>
    <ul class="list-group post-list">
        @foreach (var item in Model.BlogPosts)
        {
            var published = item.Published == DateTime.MinValue ? "DRAFT" : item.Published.ToString("MMM dd, yyyy");
            <li class="list-group-item post-list-item">
                <a href="~/admin/editor/@item.BlogPostId" class="post-item-link">@item.Title</a>
                <div class="post-item-info">
                    <a data-toggle="tooltip" title="Delete" onclick="return postsController.removePost(@item.BlogPostId)"><i class="fa fa-trash"></i></a>
                    @if (item.Published == DateTime.MinValue)
                    {
                        <a data-toggle="tooltip" title="Publish" onclick="return postsController.publish(@item.BlogPostId)"><i class="fa fa-check"></i></a>
                    }
                    else
                    {
                        <a data-toggle="tooltip" title="Unpublish" onclick="return postsController.unpublish(@item.BlogPostId)"><i class="fa fa-archive"></i></a>
                    }
                    <a href="/@ApplicationSettings.BlogRoute@item.Slug" data-toggle="tooltip" title="@item.PostViews views" target="_blank"><i class="fa fa-eye"></i></a>
                    <a class="pr-2">@published</a>
                </div>
            </li>
        }
    </ul>
    @if (pgr.ShowNewer || pgr.ShowOlder)
    {
        <ul class="pagination-custom">
            @if (pgr.ShowOlder)
            {
                <li><a href="~/admin/@pgr.Older"><i class="fa fa-long-arrow-left"></i></a></li>
            }
            <li><a class="item-count">@cntFrom-@cntTo out of @pgr.Total</a></li>
            @if (pgr.ShowNewer)
            {
                <li><a href="~/admin/@pgr.Newer"><i class="fa fa-long-arrow-right"></i></a></li>
            }
        </ul>
    }
</div>
@section Scripts{
    <script src="~/embedded/admin/standard/js/postsController.js"></script>
}