@using Blogifier.Core.Common
@using Blogifier.Core.Data.Models
@using Blogifier.Core.Extensions
@model IEnumerable<PostListItem>

@if (Model != null)
{
    foreach (var item in Model)
    {
        var avatar = string.IsNullOrEmpty(item.Avatar) ? ApplicationSettings.ProfileAvatar : item.Avatar;
        <article class="post">
            <section class="container">
                <header class="post-header">
                    <h2 class="post-title"><a href="~/@ApplicationSettings.BlogRoute@item.Slug">@item.Title</a></h2>
                    <div class="post-meta">
                        <a href="~/@ApplicationSettings.BlogRoute@item.BlogSlug">
                            <img class="post-meta-img" src="@avatar" alt="@item.AuthorName" />
                            <span class="post-meta-author">@item.AuthorName</span>
                        </a>
                        <time class="post-meta-time">@item.Published.ToFriendlyDateString()</time>
                        @if (item.PostCategories != null && item.PostCategories.Count > 0)
                        {
                            <span class="post-meta-category">in 
                                @foreach (var cat in item.PostCategories)
                                {
                                    <a href="~/category/@cat">@cat</a>
                                }
                            </span>
                        }
                    </div>
                </header>
                <div class="post-content">
                    <p class="post-excerpt">@Html.Raw(item.Content)</p>
                    <a class="post-more" href="~/@ApplicationSettings.BlogRoute@item.Slug">Read More</a>
                </div>
            </section>
        </article>
    }
}
