@using Blogifier.Core.Common
@{
    var themeFolder = "blogifier/blog/custom";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>@ApplicationSettings.Title</title>
    <meta name="description" content="@ApplicationSettings.Description">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
    <link href="~/@themeFolder/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/@themeFolder/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/@themeFolder/css/styles.min.css" rel="stylesheet">
</head>
<body>

    <header class="blog-header clearfix">
        <div class="blog-header-global container">
            <div class="blog-nav float-left">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-navicon"></i>
                    <span class="nav-title"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li><a class="dropdown-item" href="~/blog">Blog</a></li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li><a class="dropdown-item" href="~/admin">Admin</a></li>
                    }
                    <li class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Category</a></li>
                    <li><a class="dropdown-item" href="#">Examples</a></li>
                    <li><a class="dropdown-item" href="#">Tech</a></li>
                    <li><a class="dropdown-item" href="#">News</a></li>
                    <li><a class="dropdown-item" href="#">Blogging</a></li>
                </ul>
            </div>
            <h1 class="blog-title"><a href="~/blog" title="@ApplicationSettings.Description">@ApplicationSettings.Title</a></h1>
            <form class="blog-search float-right" role="search" asp-controller="Search" asp-action="Index" method="post">
                <button type="button"><i class="fa fa-search"></i></button>
                <input type="search" id="term" name="term" class="form-control hidden" placeholder="Search...">
            </form>
        </div>

        <div class="blog-header-title">
            <div class="container">
                <h1>Blog Title</h1>
                <p>Blog Description Goes Here...</p>
            </div>
        </div>
    </header>

    
    <div class="blog-content">
        @RenderBody()
    </div>

    <footer class="blog-footer container">
        <p class="float-left">Copyright © 2017 @ApplicationSettings.Title. All rights reserved.</p>
        <ul class="float-right">
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-github"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        </ul>
    </footer>

    <script src="~/@themeFolder/js/jquery-3.2.1.min.js"></script>
    <script src="~/@themeFolder/js/tether.min.js"></script>
    <script src="~/@themeFolder/js/bootstrap.min.js"></script>
    <script>
        $(".blog-search button").click(function () {
            $(".blog-search").addClass("active");
            $(".blog-search input").focus();
        });
        $(".blog-search input").blur(function () {
            $(".blog-search").removeClass("active");
        });
    </script>
</body>
</html>
