@model Core.Data.ThemeWidget
@inject Core.Services.IDataService _db
@{
    var keyHeader = $"{Model.Theme}-{Model.Widget.Title}-header";
    var keyThankyou = $"{Model.Theme}-{Model.Widget.Title}-thankyou";

    var txtHeader = _db.CustomFields.GetCustomValue(keyHeader);
    var txtThankyou = _db.CustomFields.GetCustomValue(keyThankyou);

    if (string.IsNullOrEmpty(txtHeader)) { txtHeader = "<p>Subscribe to our newsletter to get latest posts delivered directly to your inbox.</p>"; }
    if (string.IsNullOrEmpty(txtThankyou)) { txtThankyou = "Thank you!"; }
}
<form method="post" action="~/widgets/newsletter/edit" asp-antiforgery="true">
    <div class="form-group">
        <label class="form-group-label">Newsletter Header</label>
        <textarea id="txtHeader" name="txtHeader" cols="5" class="form-control">@txtHeader</textarea>
    </div>
    <div class="form-group">
        <label class="form-group-label">Thank you message</label>
        <textarea id="txtThankYou" name="txtThankYou" cols="5" class="form-control">@txtThankyou</textarea>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-main">Save</button>
    </div>
    <input type="hidden" id="hdnWidget" name="hdnWidget" value="@Model.Widget.Title" />
    <input type="hidden" id="hdnTheme" name="hdnTheme" value="@Model.Theme" />
</form>

<ul class="list-group" id="lstEmails" name="lstEmails"></ul>
<div class="modal-footer d-flex">
    <div id="email-pagination" class="file-pagination" role="group"></div>
</div>

<script src="~/admin/js/lib/jquery.min.js"></script>
<script src="~/admin/js/lib/toastr.min.js"></script>
<script src="~/admin/js/app/dataService.js"></script>
<script src="~/widgets/newsletter/edit.js" asp-append-version="true"></script>
<script>
    var webRoot = '@Url.Content("~/")';
    function getUrl(str) {
        return webRoot + str;
    }
    newsletter.load(1);
</script>