@model AccountProfileModel
@inject IStringLocalizer<Resource> _localizer

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="~/_content/@ThemesStandardConstant.AssemblyName/css/blogifier.css">
  <link rel="stylesheet" href="~/_content/@ThemesStandardConstant.AssemblyName/css/account.css">
  @await RenderSectionAsync("HeaderScript",false)
</head>

<body>
  <main class="blogifier">
    <a class="account-back link-secondary" href="@Model.RedirectUri" data-bs-toggle="tooltip" title="@_localizer["back-to-website"]" data-placement="right">
      <svg width="24" height="24" class="bi bi-arrow-left">
        <use xlink:href="/_content/@ThemesStandardConstant.AssemblyName/img/icon-sprites.svg#bi-arrow-left"></use>
      </svg>
    </a>
    <div class="container profile">
      <div class="page d-lg-flex">
        <div class="sidebar">
          <button class="sidebar-toggle d-lg-none">
            Page Title
            <svg width="16" height="16" class="bi bi-chevron-down">
              <use xlink:href="/_content/@ThemesStandardConstant.AssemblyName/img/icon-sprites.svg#bi-chevron-down"></use>
            </svg>
          </button>
          <div class="sidebar-nav d-lg-block">
            @if (Model.IsProfile)
            {
              <a class="sidebar-link active" href="/account/profile?redirecturi=@Model.RedirectUri">@_localizer["profile"]</a>
            }
            else
            {
              <a class="sidebar-link" href="/account/profile?redirecturi=@Model.RedirectUri">@_localizer["profile"]</a>
            }
            @if (Model.IsPassword)
            {
              <a class="sidebar-link active" href="/account/password?redirecturi=@Model.RedirectUri">@_localizer["password"]</a>
            }
            else
            {
              <a class="sidebar-link" href="/account/password?redirecturi=@Model.RedirectUri">@_localizer["password"]</a>
            }
          </div>
        </div>
        <div class="page-content flex-grow-1">
          @RenderBody()
        </div>
      </div>
    </div>
  </main>
  <script src="~/_content/@ThemesStandardConstant.AssemblyName/js/blogifier.js"></script>
  @await RenderSectionAsync("FooterScript",false)
</body>

</html>
