@model Blogifier.Core.Data.Models.AdminApplicationModel
@using Blogifier.Core.Common
@using Blogifier.Core.Extensions
@{
    Layout = "~/Views/Blogifier/Admin/Standard/_Layout/_Settings.cshtml";
}
<h4 class="admin-content-title">Application Settings</h4>
<div class="admin-settings-application">

    @foreach (var blog in Model.Blogs)
    {
        <div class="item-blog"> <!-- item-blog-disabled -->
            <div class="item-blog-head clearfix">
                <div class="float-left">
                    <h4><a href="~/@blog.Url" target="_blank">@blog.Title</a></h4>
                </div>
                <div class="btn-group float-right">
                    @*<button type="button" class="btn btn-outline-black btn-sm btn-icon" title="Limit"><i class="fa fa-sliders"></i></button>
                    <button type="button" class="btn btn-outline-black btn-sm btn-icon" title="Disable"><i class="fa fa-stop"></i></button>
                    <button type="button" class="btn btn-outline-black btn-sm btn-icon" title="Enable"><i class="fa fa-play"></i></button>*@
                    @if (!blog.IsAdmin)
                    {
                        <button type="button" onclick="return toolsController.deleteBlog('@blog.ProfileId')" class="btn btn-outline-black btn-sm btn-icon" title="Delete"><i class="fa fa-trash"></i></button>
                    }
                </div>
            </div>
            <div class="item-blog-body">
                <div class="row">
                    <div class="col-md-6">
                        <ul class="item-blog-info">
                          
                            <li><span>Identity</span><span>@blog.IdentityName</span></li>
                            <li><span>Author</span><span>@blog.AuthorName</span></li>
                            <li><span>Is admin</span><span>@blog.IsAdmin</span></li>
                            <li><span>Email</span><span>@blog.Email</span></li>
                            <li><span>Updated</span><span>@string.Format("{0:MMM d, yyyy}", blog.LastUpdated)</span></li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <ul class="item-blog-info">
                            <li><span>Posts</span><span>@blog.PostCount</span></li>
                            <li><span>Post views</span><span>@blog.PostViews</span></li>
                            <li>&nbsp;</li>
                            <li><span>Assets</span><span>@blog.AssetCount</span></li>
                            <li><span>Disk usage</span><span>@blog.DiskUsage.ToPrettySize(1)</span></li>
                        </ul>
                        @*<div class="item-blog-space mb-2">
                            <div class="item-blog-space-head clearfix">
                                <span class="float-left">Disk Space</span>
                                <span class="float-right">25MB of 100MB</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                            </div>
                        </div>*@
                        @*<div class="item-blog-space">
                            <div class="item-blog-space-head clearfix">
                                <span class="float-left">DB Usage</span>
                                <span class="float-right">80MB of 100MB</span>
                            </div>
                            <div class="progress">
                                <div class="progress-bar" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">80%</div>
                            </div>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    }
</div>
@*<table class="table">
    <thead>
        <tr>
            <th colspan="2">Application settings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>OperatingSystem</td>
            <td>@ApplicationSettings.OSDescription</td>
        </tr>
        <tr>
            <td>WebRootPath</td>
            <td style="word-break:break-all">@ApplicationSettings.WebRootPath</td>
        </tr>
        <tr>
            <td>ContentRootPath</td>
            <td style="word-break:break-all">@ApplicationSettings.ContentRootPath</td>
        </tr>
        <tr>
            <td>SingleBlog</td>
            <td>@ApplicationSettings.SingleBlog</td>
        </tr>
        <tr>
            <td>EnableLogging</td>
            <td>@ApplicationSettings.EnableLogging</td>
        </tr>
        <tr>
            <td>UseInMemoryDatabase</td>
            <td>@ApplicationSettings.UseInMemoryDatabase</td>
        </tr>
        <tr>
            <td>ConnectionString</td>
            <td>@ApplicationSettings.ConnectionString.MaskPassword()</td>
        </tr>
        <tr>
            <td>BlogStorageFolder</td>
            <td>@ApplicationSettings.BlogStorageFolder</td>
        </tr>
        <tr>
            <td>SupportedStorageFiles</td>
            <td>@ApplicationSettings.SupportedStorageFiles</td>
        </tr>
        <tr>
            <td>AdminTheme</td>
            <td>@ApplicationSettings.AdminTheme</td>
        </tr>
        <tr>
            <td>BlogTheme</td>
            <td>@ApplicationSettings.BlogTheme</td>
        </tr>
        <tr>
            <td>ProfileAvatar</td>
            <td>@ApplicationSettings.ProfileAvatar</td>
        </tr>
        <tr>
            <td>ProfileLogo</td>
            <td>@ApplicationSettings.ProfileLogo</td>
        </tr>
        <tr>
            <td>ProfileImage</td>
            <td>@ApplicationSettings.ProfileImage</td>
        </tr>
        <tr>
            <td>PostImage</td>
            <td>@ApplicationSettings.PostImage</td>
        </tr>

        <tr>
            <td>Version</td>
            <td>@ApplicationSettings.Version</td>
        </tr>
    </tbody>
</table>*@
@*<table class="table">
    <thead>
        <tr>
            <th colspan="2">Troubleshooting</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Add ContentType headers</td>
            <td>@ApplicationSettings.AddContentTypeHeaders</td>
        </tr>
        <tr>
            <td>Add Content Length Headers</td>
            <td>@ApplicationSettings.AddContentLengthHeaders</td>
        </tr>
        <tr>
            <td>Prepend File Provider</td>
            <td>@ApplicationSettings.PrependFileProvider</td>
        </tr>
    </tbody>
</table>*@

@section Scripts{
    <script src="~/embedded/admin/standard/js/toolsController.js"></script>
}