@using Blogifier.Core.Common
<!DOCTYPE html>
<html lang="en">
@Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_Head.cshtml")
<body>
    <div class="bf">
        @Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_Taskbar.cshtml")
        @RenderBody()
    </div>
    @Html.Partial($"~/{ApplicationSettings.BlogAdminFolder}/_Shared/_Foot.cshtml")
    @RenderSection("Scripts", false)
</body>
</html>
