@using Blogifier.Core.Common
@using Blogifier.Core.Data.Models
@using Blogifier.Core.Services.Packages
@inject IPackageService pkgService
@{
    Layout = $"~/{ApplicationSettings.BlogAdminFolder}/_Layout/_Layout.cshtml";
    var info = (PackageListItem)pkgService.Single(Model.PackageItem.Title).Result;
}
<div class="bf-header d-flex d-lg-none">@ViewData["Title"] <i class="fa fa-chevron-down"></i></div>
<div class="bf-main">
    <div class="bf-sidebar d-lg-flex flex-column">
        <div class="p-3">
            <div class="py-3">
                <a asp-controller="Packages" asp-action="Widgets"><i class="fa fa-chevron-left mr-2"></i>Back</a>
            </div>
            <div class="btn-group d-flex">
                <button type="button" onclick="return packagesController.enableSingle('@info.Title')" class="btn btn-outline-secondary btn-sm btn-rounded w-100">Enable</button>
                <button type="button" onclick="return packagesController.disableSingle('@info.Title')" class="btn btn-outline-secondary btn-sm btn-rounded w-100">Disable</button>
            </div>
        </div>
        <div class="p-3 mt-auto">
            <div class="bf-package-info-header">
                <img class="bf-package-info-logo" src="/embedded/lib/img/cover.png" alt="Package Title" />
                <h4 class="bf-package-info-title">@info.Title</h4>
                <div class="bf-package-info-rating"><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star active"></i><i class="fa fa-star"></i></div>
            </div>
            <p class="small">@info.Description</p>
            <hr class="my-4" />
            <table class="table bf-package-info-table">
                <tr>
                    <td>Version</td>
                    <td>@info.Version</td>
                </tr>
                <tr>
                    <td>Updated</td>
                    <td>@info.LastUpdated.ToString("MMM dd, yyyy")</td>
                </tr>
                @*<tr>
                    <td>Installs</td>
                    <td>48894</td>
                </tr>*@
                <tr>
                    <td>Developer</td>
                    <td><a class="mr-3" href="@info.ProjectUrl" target="_blank">@info.Author</a></td>
                </tr>
                <tr>
                    <td>Tags</td>
                    <td>@info.Tags</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="bf-body">
        @RenderBody()
    </div>
</div>
@section Scripts{
    @RenderSection("Scripts", false)
    <script src="~/admin/js/app/packagesController.js"></script>
}
