@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain;
@{
    Layout = $"~/{ApplicationSettings.BlogAdminFolder}/_Layout/_Layout.cshtml";

    var usr = "0";
    if (!string.IsNullOrEmpty(Context.Request.Query["user"]))
    {
        usr = Context.Request.Query["user"].ToString();
    }
    var usrChecked = usr == "0" ? "checked" : "";

    var stat = "A";
    if (!string.IsNullOrEmpty(Context.Request.Query["status"]))
    {
        stat = Context.Request.Query["status"].ToString();
    }

    var cats = new List<string>();
    if (!string.IsNullOrEmpty(Context.Request.Query["cats"]))
    {
        cats = Context.Request.Query["cats"].ToString().Split(',').ToList();
    }

    var showUsers = false;
    if (Model.Profile.IsAdmin)
    {
        IQueryable<Profile> users = null;
        try { users = (IQueryable<Profile>)Model.Users; } catch { }
        if (users != null && users.Count() > 0)
        {
            showUsers = true;
        }
    }
}
<div class="bf-header d-flex d-lg-none">Posts <i class="fa fa-sliders"></i></div>
<div class="bf-main">
    <div class="bf-sidebar d-lg-block">

        <form class="bf-posts-form-search" action="~/admin/posts" method="get">
            <input type="hidden" name="user" value="@usr" />
            <input type="hidden" name="status" value="@stat" />
            <input class="form-control form-control-sm form-control-rounded" type="search" name="search" placeholder="Search..." autocomplete="off" />
        </form>
        <form id="frmPostFilter" class="bf-posts-filters">
            <div class="filter-label d-block d-lg-none">Filter by</div>
            @if (showUsers)
            {
                <div class="filter-group">
                    <div class="filter-group-title"><span>Users</span> <i class="fa fa-chevron-down d-block d-lg-none"></i></div>
                    <ul class="filter-group-list">
                        <li>
                            <label class="filters-label custom-control custom-radio">
                                <input type="radio" name="user-filter" id="user-filter" value="0" @usrChecked onclick="postsController.filter()" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">My posts</span>
                            </label>
                        </li>
                        <li>
                            @foreach (var user in Model.Users)
                            {
                                usrChecked = user.Id.ToString() == usr ? "checked" : "";
                                <label class="filters-label custom-control custom-radio">
                                    <input type="radio" name="user-filter" id="user-filter" value="@user.Id" @usrChecked onclick="postsController.filter()" class="custom-control-input">
                                    <span class="custom-control-indicator"></span>
                                    <span class="custom-control-description">@user.AuthorName</span>
                                </label>
                            }
                        </li>

                    </ul>
                </div>
            }
            <div class="filter-group">
                <div class="filter-group-title"><span>Status</span> <i class="fa fa-chevron-down d-block d-lg-none"></i></div>
                <ul class="filter-group-list">
                    @foreach (var ftr in Model.StatusFilter)
                    {
                        var statChecked = stat == ftr.Value ? "checked" : "";
                        <li>
                            <label class="filters-label custom-control custom-radio"><input type="radio" name="status-filter" id="status-filter" value="@ftr.Value" @statChecked onclick="postsController.filter()" class="custom-control-input"><span class="custom-control-indicator"></span><span class="custom-control-description">@ftr.Text</span></label>
                        </li>
                    }
                </ul>
            </div>
            @if (Model.CategoryFilter != null && Model.CategoryFilter.Count > 0)
            {
                <div class="filter-group">
                    <div class="filter-group-title"><span>Category</span> <i class="fa fa-chevron-down d-block d-lg-none"></i></div>
                    <ul class="filter-group-list">
                        @foreach (var cat in Model.CategoryFilter)
                        {
                            var isChecked = cats.Contains(cat.Value.ToString()) ? "checked" : "";
                            <li>
                                <label class="filters-label custom-control custom-checkbox"><input type="checkbox" name="category-filter" id="category-filter" value="@cat.Value" @isChecked onclick="postsController.filter()" class="custom-control-input chk"><span class="custom-control-indicator"></span><span class="custom-control-description">@cat.Text</span></label>
                            </li>
                        }
                    </ul>
                </div>
            }
        </form>

    </div>
    <div class="bf-page-posts">
        @RenderBody()
    </div>
</div>
@section Scripts{
    @RenderSection("Scripts", false)
}
