@using Blogifier.Core.Common;
@using Blogifier.Core.Data.Domain;
@using Blogifier.Core.Extensions
@model IEnumerable<BlogPost>

@foreach (var item in Model)
{
    <article class="post post-list">
        <section class="container">
            <header class="post-header">
                <h2 class="post-title"><a href="~/@ApplicationSettings.BlogRoute@item.Slug">@item.Title</a></h2>
                <div class="post-meta">
                    <a href="~/@ApplicationSettings.BlogRoute@item.Slug">
                        <img class="post-meta-img" src="@item.Profile.Avatar" alt="@item.Profile.AuthorName" />
                        <span class="post-meta-author">@item.Profile.AuthorName</span>
                    </a>
                    <time class="post-meta-time">@item.Published.ToFriendlyDateString()</time>
                    @if (item.PostCategories != null && item.PostCategories.Count > 0)
                    {
                        <span class="post-meta-category">
                            in
                            @foreach (var cat in item.PostCategories)
                            {
                                <a href="~/@ApplicationSettings.BlogRoute@item.Slug/@cat">@cat</a>
                            }
                        </span>
                    }
                </div>
            </header>
            <div class="post-content">
                <p class="post-excerpt">@Html.Raw(item.Description)</p>
                <a class="post-more" href="~/@ApplicationSettings.BlogRoute@item.Slug">Read More</a>
            </div>
        </section>
    </article>
}
<hr/>