@using Blogifier.Core.Extensions
@using Blogifier.Core.Common
@using Blogifier.Core.Data.Domain;
@{
    var settingsView = Context.Request.Path.ToString().Contains("/admin/settings", StringComparison.InvariantCultureIgnoreCase);
    var editorView = Context.Request.Path.ToString().Contains("/admin/editor", StringComparison.InvariantCultureIgnoreCase);

    var usr = "0";
    if (!string.IsNullOrEmpty(Context.Request.Query["user"]))
    {
        usr = Context.Request.Query["user"].ToString();
    }
    var usrChecked = usr == "0" ? "checked" : "";

    var stat = "A";
    if (!string.IsNullOrEmpty(Context.Request.Query["status"]))
    {
        stat = Context.Request.Query["status"].ToString();
    }

    var cats = new List<string>();
    if (!string.IsNullOrEmpty(Context.Request.Query["cats"]))
    {
        cats = Context.Request.Query["cats"].ToString().Split(',').ToList();
    }

    var showUsers = false;
    if(Model.Profile.IsAdmin)
    {
        IQueryable<Profile> users = null;
        try { users = (IQueryable<Profile>)Model.Users; } catch { }
        if (users != null && users.Count() > 0)
        {
            showUsers = true;
        }
    }
}
<ul class="bf-sidebar-nav">
    <li class="nav-item">
        @if (settingsView || editorView)
        {
            <a class="nav-item-link" href="~/admin"><i class="fa fa-align-justify"></i>Posts</a>
        }
        @if (!settingsView && !editorView)
        {
            <a class="nav-item-link active" href="~/admin"><i class="fa fa-align-justify"></i>Posts</a>
            <form id="frmPostFilter" class="nav-item-body bf-posts-filters">
                @if (showUsers)
                {
                    <div class="filters-group filters-group-users">
                        <div class="filters-group-title">Users</div>
                        <label class="filters-label custom-control custom-radio">
                            <input type="radio" name="user-filter" id="user-filter" value="0" @usrChecked onclick="postsController.filter()" class="custom-control-input">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">My posts</span>
                        </label>
                        @foreach (var user in Model.Users)
                        {
                            usrChecked = user.Id.ToString() == usr ? "checked" : "";
                            <label class="filters-label custom-control custom-radio">
                                <input type="radio" name="user-filter" id="user-filter" value="@user.Id" @usrChecked onclick="postsController.filter()" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">@user.AuthorName</span>
                            </label>
                        }
                    </div>
                }
                <div class="filters-group filters-group-status">
                    <div class="filters-group-title">Status</div>
                    @foreach (var ftr in Model.StatusFilter)
                    {
                        var statChecked = stat == ftr.Value ? "checked" : "";
                        <label class="filters-label custom-control custom-radio"><input type="radio" name="status-filter" id="status-filter" value="@ftr.Value" @statChecked onclick="postsController.filter()" class="custom-control-input"><span class="custom-control-indicator"></span><span class="custom-control-description">@ftr.Text</span></label>
                    }
                </div>
                @if (Model.CategoryFilter != null && Model.CategoryFilter.Count > 0)
                {
                    <div class="filters-group filters-group-category">
                        <div class="filters-group-title">Categories</div>
                        <div class="filters-group-category-list" data-simplebar>
                            @foreach (var cat in Model.CategoryFilter)
                            {
                                var isChecked = cats.Contains(cat.Value.ToString()) ? "checked" : "";
                                <label class="filters-label custom-control custom-checkbox"><input type="checkbox" name="category-filter" id="category-filter" value="@cat.Value" @isChecked onclick="postsController.filter()" class="custom-control-input chk"><span class="custom-control-indicator"></span><span class="custom-control-description">@cat.Text</span></label>
                            }
                        </div>
                    </div>
                }
            </form>
        }
    </li>
    <li class="nav-item">
        @if (!settingsView)
        {
            <a class="nav-item-link" href="~/admin/settings/profile"><i class="fa fa-cog"></i>Settings</a>
        }
        @if (settingsView)
        {
            <a class="nav-item-link active" href="~/admin/settings/profile"><i class="fa fa-cog"></i>Settings</a>
            <ul class="nav-item-body bf-sidebar-settings">
                <li><a href="~/admin/settings/profile">Edit Profile</a></li>
                @if (ApplicationSettings.SingleBlog == false)
                {
                    <li><a href="~/admin/settings/personal">Blog Settings</a></li>
                }
                <li><a href="~/admin/settings/custom">Custom Code</a></li>
                <li><a href="~/admin/settings/import">Import Rss</a></li>
                @if (Model.Profile != null && Model.Profile.IsAdmin)
                {
                    <li><a href="~/admin/settings/appsettings">Application Settings</a></li>
                    <li><a href="~/admin/settings/application">Administration</a></li>
                    <li><a href="~/admin/settings/about">About</a></li>
                }
            </ul>
        }
    </li>
    <li class="nav-item"><a class="nav-item-link" href="#" onclick="profileLogOut(); return false;"><i class="fa fa-sign-out"></i>Logoff</a></li>
</ul>