@using Blogifier.Core.Common
@using Blogifier.Core.Extensions
@using Blogifier.Core.Data.Models
@model BlogAuthorModel
@{
    var avatar = Model.Profile.Avatar == null ? ApplicationSettings.ProfileAvatar : Model.Profile.Avatar;
    var cf = Model.CustomFields;
}
<main class="page-author">
    <header class="author-cover" style="background-image: url('@Model.CoverImg')">
        <div class="container">
            <img class="author-avatar" src="@avatar" alt="@Model.Profile.Title" />
            <h2 class="author-title">@Model.Profile.Title</h2>
            <p class="author-description">@Model.Profile.Description</p>
            <ul class="author-social">
                @if (cf.ContainsKey("Google") && !string.IsNullOrEmpty(cf["Google"]))
                {
                    <li><a href='@cf["Google"]' target="_blank" data-toggle="tooltip" title="Google Plus"><i class="fa fa-google"></i></a></li>
                }
                @if (cf.ContainsKey("Twitter") && !string.IsNullOrEmpty(cf["Twitter"]))
                {
                    <li><a href='@cf["Twitter"]' target="_blank" data-toggle="tooltip" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                }
                @if (cf.ContainsKey("Github") && !string.IsNullOrEmpty(cf["Github"]))
                {
                    <li><a href='@cf["Github"]' target="_blank" data-toggle="tooltip" title="GitHub"><i class="fa fa-github"></i></a></li>
                }
                @if (cf.ContainsKey("Instagram") && !string.IsNullOrEmpty(cf["Instagram"]))
                {
                    <li><a href='@cf["Instagram"]' target="_blank" data-toggle="tooltip" title="Instagram"><i class="fa fa-instagram"></i></a></li>
                }
                @if (cf.ContainsKey("Facebook") && !string.IsNullOrEmpty(cf["Facebook"]))
                {
                    <li><a href='@cf["Facebook"]' target="_blank" data-toggle="tooltip" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                }
            </ul>
        </div>
    </header>

    <div class="blog-content">
        @if (Model != null)
            {
                foreach (var item in Model.Posts)
                {
                <article class="post">
                    <section class="container">
                        <header class="post-header">
                            <h2 class="post-title"><a href="~/@ApplicationSettings.BlogRoute@item.Slug">@item.Title</a></h2>
                            <div class="post-meta">
                                <a href="~/@ApplicationSettings.BlogRoute@item.BlogSlug">
                                    <img class="post-meta-img" src="/embedded/lib/img/avatar.jpg" alt="@item.AuthorName" />
                                    <span class="post-meta-author">@item.AuthorName</span>
                                </a>
                                <time class="post-meta-time">@item.Published.ToFriendlyDateString()</time>
                                <span class="post-meta-category">in <a href="#">News</a></span>
                            </div>
                        </header>
                        <p class="post-excerpt">@Html.Raw(item.Content)</p>
                        <a class="post-more" href="~/@ApplicationSettings.BlogRoute@item.Slug">Read More</a>
                    </section>
                </article>
            }
            <ul class="pagination justify-content-center">
                @if (Model.Pager.ShowOlder)
                {
                    <li class="page-item prev"><a href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug/@Model.Pager.Older"><i class="fa fa-angle-left"></i> <span>Older Posts</span></a></li>
                }
                @if (Model.Pager.ShowNewer)
                {
                    <li class="page-item next"><a href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug/@Model.Pager.Newer"><span>Newer Posts</span> <i class="fa fa-angle-right"></i></a></li>
                }
            </ul>
        }
    </div>
</main>