@using Blogifier.Core.Common
@using Blogifier.Core.Extensions
@using Blogifier.Core.Data.Models
@model BlogPostsModel

<section class="cover" style="background-image: url('@Model.CoverImg')">
    <div class="cover-title container">
        <h1>@ApplicationSettings.Title</h1>
        <p>@ApplicationSettings.Description</p>
    </div>
</section>

<main class="blog-content">
    @if (Model != null)
    {
        foreach (var item in Model.Posts)
        {
            <article class="post">
                <section class="container">
                    <header class="post-header">
                        <h2 class="post-title"><a href="~/@ApplicationSettings.BlogRoute@item.Slug">@item.Title</a></h2>
                        <div class="post-meta">
                            <a href="~/@ApplicationSettings.BlogRoute@item.BlogSlug">
                                <img class="post-meta-img" src="/embedded/lib/img/avatar.jpg" alt="@item.AuthorName" />
                                <span class="post-meta-author">@item.AuthorName</span>
                            </a>
                            <time class="post-meta-time">@item.Published.ToFriendlyDateString()</time>
                            <span class="post-meta-category">in <a href="#">News</a></span>
                        </div>
                    </header>
                    <p class="post-excerpt">@Html.Raw(item.Content)</p>
                    <a class="post-more" href="~/@ApplicationSettings.BlogRoute@item.Slug">Read More</a>
                </section>
            </article>
        }

        <ul class="pagination justify-content-center">
            @if (Model.Pager.ShowOlder)
            {
                <li class="item item-prev"><a class="item-link" href="~/@ApplicationSettings.BlogRoute@Model.Pager.Older"><i class="item-icon fa fa-angle-left"></i></a></li>
            }
            @if (Model.Pager.ShowNewer)
            {
                <li class="item item-next"><a class="item-link" href="~/@ApplicationSettings.BlogRoute@Model.Pager.Newer"><i class="item-icon fa fa-angle-right"></i></a></li>
            }
        </ul>
    }
</main>
