@using Blogifier.Core.Common
@using Blogifier.Core.Data.Models
@model BlogPostsModel
<main class="page-index">
    <section class="cover" style="background-image: url('@Model.CoverImg')">
        <div class="cover-title container">
            <h1>@ApplicationSettings.Title</h1>
            <p>@ApplicationSettings.Description</p>
        </div>
    </section>
    @Html.Partial("~/Views/Blogifier/Blog/Standard12/_Shared/_Post.cshtml", Model.Posts)
    @Html.Partial("~/Views/Blogifier/Blog/Standard12/_Shared/_Pager.cshtml", Model.Pager)
</main>