@model Blogifier.Core.Data.Models.BlogPostDetailModel
@using Blogifier.Core.Common
@{
    var cf = Model.CustomFields;
    var customCode = (cf.ContainsKey("Post") && !string.IsNullOrEmpty(cf["Post"])) ? cf["Post"] : "";
}
<article class="post-single">
    <header class="post-header" style="background-image: url('@Model.CoverImg')">
        <section class="container">
            <h2 class="post-title">@Model.BlogPost.Title</h2>
            <div class="post-meta">
                <a href="~/@ApplicationSettings.BlogRoute@Model.BlogPost.Profile.Slug">
                    <img class="post-meta-img" src="/embedded/lib/img/avatar.jpg" alt="@Model.BlogPost.Profile.AuthorName" />
                    <span class="post-meta-author">@Model.BlogPost.Profile.AuthorName</span>
                </a>
                <time class="post-meta-time">@string.Format("{0:MMM d, yyyy}", Model.BlogPost.Published)</time>
                <span class="post-meta-category">
                    in
                    @if (Model.BlogCategories.Count > 0)
                    {
                        @foreach (var cat in Model.BlogCategories)
                        {
                            <a href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug/@cat.Value">@cat.Text</a>
                        }
                    }
                </span>
            </div>
        </section>
    </header>
    <div class="post-content container">
        @Html.Raw(Model.BlogPost.Content)
        @Html.Raw(customCode)
    </div>
</article>