@using Blogifier.Core.Common
@{
    var avatar = ApplicationSettings.ProfileAvatar;
    if (Model.Profile != null)
    {
        if (!string.IsNullOrEmpty(Model.Profile.Avatar))
        {
            avatar = Model.Profile.Avatar;
        }
    }
}

<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_Head.cshtml")
<body>
    <div class="bf-editor-nav dropdown">
        <button class="dropdown-toggle" data-toggle="dropdown"><img width="40" height="40" class="item-img" src="@avatar"></button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="~/@ApplicationSettings.BlogRoute@Model.Profile.Slug" target="_blank">View Blog</a></li>
            <li><a class="dropdown-item" href="~/admin">Posts</a></li>
            <li><a class="dropdown-item" href="~/admin/settings/profile">Settings</a></li>
            <li><a class="dropdown-item" href="#" onclick="profileLogOut(); return false;">Logoff</a></li>
        </ul>
    </div>
    @RenderBody()
    @Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_Foot.cshtml")
    @RenderSection("Scripts", false)
</body>
</html>
