@using Blogifier.Core.Common
@{
    var settingsView = Context.Request.Path.ToString().Contains("/admin/settings");
}
<!DOCTYPE html>
<html lang="en">
@Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_Head.cshtml")
<body>
    <div class="bf">
        <div class="bf-sidebar">
            @Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_Nav.cshtml")
            @Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_Sidebar.cshtml")
        </div>
        <div class="bf-content">
            @RenderBody()
        </div>
    </div>
    @Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_Foot.cshtml")
    @RenderSection("Scripts", false)
</body>
</html>