@using Blogifier.Core.Common
@{
    var themeFolder = "blogifier/admin/custom";
    var headView = string.Format("~/Views/{0}/_Shared/_Head.cshtml", themeFolder);
    var headerView = string.Format("~/Views/{0}/_Shared/_Header.cshtml", themeFolder);
    var footerView = string.Format("~/Views/{0}/_Shared/_Footer.cshtml", themeFolder);
}
<!DOCTYPE html>
<html lang="en">
<head>
@Html.Partial(headView)
</head>
<body class="admin-layout-settings">
    @Html.Partial(headerView)
    <div class="admin-content admin-content-settings container">
        <div class="admin-settings">
            <div class="admin-settings-sidebar">
                <ul>
                    <li class="profile"><a href="~/admin/settings/profile">Edit Profile</a></li>
                    <li class="import"><a href="~/admin/settings/import">Import Rss</a></li>
                    <li class="custom"><a href="~/admin/settings/custom">Custom Fields</a></li>
                    @if (Model.Profile != null && Model.Profile.IsAdmin)
                    {
                        <li class="application"><a href="~/admin/settings/application">Global Settings</a></li>
                    }
                </ul>
            </div>
            <div class="admin-settings-content">
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial(footerView)
    @RenderSection("Scripts", false)
</body>
</html>
