@using Blogifier.Core.Common
<!DOCTYPE html>
<html lang="en">
<head>
@Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_Head.cshtml")
</head>
<body>
    @Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_Header.cshtml")

    <div class="admin-content admin-content-settings container d-md-flex flex-md-column">
        <div class="admin-settings row no-gutters rounded">
            <ul class="admin-settings-sidebar col-md-3">
                <li class="profile"><a href="~/admin/settings/profile"><span>Edit Profile</span><i class="fa fa-user"></i></a></li>
                @if (!ApplicationSettings.SingleBlog)
                {
                    <li class="personal"><a href="~/admin/settings/personal"><span>Blog Settings</span><i class="fa fa-sliders"></i></a></li>
                }
                <li class="custom"><a href="~/admin/settings/custom"><span>Custom Code</span><i class="fa fa-window-maximize"></i></a></li>
                <li class="import"><a href="~/admin/settings/import"><span>Import Rss</span><i class="fa fa-rss"></i></a></li>
                @if (Model.Profile != null && Model.Profile.IsAdmin)
                {
                    <li class="application"><a href="~/admin/settings/application"><span>Application Settings</span><i class="fa fa-cog"></i></a></li>
                }
            </ul>
            <div class="admin-settings-content col-md-9">
              @RenderBody()
            </div>
        </div>
    </div>

    @Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_Footer.cshtml")
    @RenderSection("Scripts", false)
</body>
</html>
