@{
  Layout = "_base.cshtml";

  var request = Url.ActionContext.HttpContext.Request;
  var absoluteUrl = $"{request.Scheme}://{request.Host.ToUriComponent()}{request.PathBase.ToUriComponent()}";
  var siteTitle = Model.Blog.Title;
  var siteDesc = Model.Blog.Description;
  var siteFeed = absoluteUrl + "/feed/rss";
  var pageTitle = siteTitle + " | " + siteDesc;
  var pageDesc = siteDesc;
  var pageCanonical = absoluteUrl;

  if (Model.ToString().EndsWith("PostModel"))
  {
    var postModel = (PostModel)Model;
    pageTitle = postModel.Post.Title + " | " + siteTitle;
    pageDesc = postModel.Post.Description.StripHtml();
    pageCanonical = postModel.Post.PostType == PostType.Post ? absoluteUrl + "/posts/" + postModel.Post.Slug : absoluteUrl + "/" + postModel.Post.Slug;
  }
}

@section HeadMeta{
  <title>@pageTitle</title>
  <meta name="description" content="@pageDesc">
  <link rel="alternate" type="application/rss+xml" title="@siteTitle" href="@siteFeed" />
  <link rel="canonical" href="@pageCanonical" />
}

@section HeaderScript{
  @Html.Raw(Model.Blog.HeaderScript)
}

<partial name="../components/header.cshtml" />
@RenderBody()
<partial name="../components/footer.cshtml" />

@section FooterScript{
  @Html.Raw(Model.Blog.FooterScript)
}
