@using Blogifier.Core.Common

<div class="app-header clearfix p-4">
    <button type="button" class="app-side-toggle"><span></span><span></span><span></span></button>
    <h3>About</h3>
</div>
<div class="app-content p-4">
    <div class="app-content p-4">
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Value</th>
            </tr>
            <tr>
                <td>WebRootPath</td>
                <td>@ApplicationSettings.WebRootPath</td>
            </tr>
            <tr>
                <td>ContentRootPath</td>
                <td>@ApplicationSettings.ContentRootPath</td>
            </tr>
            <tr>
                <td>Operating System</td>
                <td>@ApplicationSettings.OSDescription</td>
            </tr>
            <tr>
                <td>Add ContentType headers</td>
                <td>@ApplicationSettings.AddContentTypeHeaders</td>
            </tr>
            <tr>
                <td>Version</td>
                <td>@ApplicationSettings.Version</td>
            </tr>
        </table>
    </div>
</div>