@layout SettingsLayout
@page "/admin/settings/"
@inject HttpClient _http
@inject IStringLocalizer<Resource> _localizer
<h1 class="app-section-title">Basic Settings</h1>
<div class="app-section-content">
    @if (Blog != null)
    {
        <EditForm model="@Blog" OnValidSubmit="Save">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-item">
                <label class="form-item-label">@_localizer["title"]</label>
                <input type="text" class="form-control" @bind="Blog.Title" name="title" />
            </div>
            <div class="form-item">
                <label class="form-item-label">@_localizer["description"]</label>
                <textarea class="form-control" cols="30" rows="5" @bind="Blog.Description" name="description"></textarea>
            </div>
            <div class="form-item">
                <div class="form-check form-switch">
                    <input class="form-check-input" type="checkbox" @bind="Blog.IncludeFeatured" id="IncludeFeaturedSwitch">
                    <label class="form-check-label" for="IncludeFeaturedSwitch">@_localizer["include-featured"]</label>
                </div>
            </div>
            <div class="form-item">
                <label class="form-item-label">@_localizer["items-per-page"]</label>
                <input type="text" class="form-control" @bind="Blog.ItemsPerPage" name="pageitems" />
            </div>
            <div class="form-item">
                <button type="submit" class="btn btn-blogifier px-5">@_localizer["save"]</button>
            </div>
        </EditForm>
    }
</div>
<ToasterComponent @ref="Toaster" />

@code {
    protected Blog Blog { get; set; }
    protected ToasterComponent Toaster;

    protected override async Task OnInitializedAsync()
    {
        Blog = await _http.GetFromJsonAsync<Blog>("api/blog");
    }

    protected async Task Save()
    {
        Toaster.Toast(await _http.PutAsJsonAsync<Blog>("api/blog", Blog));
    }
}