@layout SettingsLayout
@page "/admin/settings/customize/menus/"
@inject IStringLocalizer<Resource> _localizer
<PageTitle Title="@_localizer["menus"]" />

<h1 class="section-title">@_localizer["menus"]</h1>
<p class="section-desc w-75">@_localizer["theme-customization-desc"]</p>
<div class="section-content">
    <div class="alert alert-warning">
        @_localizer["under-development"].
        <a class="append-arrow-right" href="https://github.com/blogifierdotnet/blogifier/projects/">@_localizer["more-info"]</a>
    </div>
</div>
