@layout SettingsLayout
@page "/admin/settings/themes/"
@inject HttpClient _http
@inject IStringLocalizer<Resource> _localizer
@inject IJSRuntime JSRuntime

@if (CurrentTheme != null)
{
    <h1 class="app-section-title">Themes</h1>
    <div class="app-section-content mw-100">
        <div class="row stg-themes-installed">
            <div class="col-md-6 col-lg-4">
                <div class="stg-themes-installed-item">
                    <div class="stg-themes-installed-cover">
                        <img src="@CurrentTheme.Cover" class="stg-themes-installed-img" alt="@CurrentTheme.Title">
                    </div>
                    <div class="stg-themes-installed-details">
                        <div class="stg-themes-installed-title">@CurrentTheme.Title (Current)</div>
                        <ul class="stg-themes-installed-info">
                            <li>Designed by <a href="#">John Doe</a></li>
                            <li>Version 2.1</li>
                        </ul>
                        <div class="d-flex">
                            <a href="/admin/settings/customize/" class="btn btn-blogifier flex-grow-1 me-2">@_localizer["Customize"]</a>
                        </div>
                    </div>
                </div>
            </div>
            @foreach (var item in Themes)
            {
                <div class="col-md-6 col-lg-4">
                    <div class="stg-themes-installed-item">
                        <div class="stg-themes-installed-cover">
                            <img src="@item.Cover" class="stg-themes-installed-img" alt="@item.Title">
                        </div>
                        <div class="stg-themes-installed-details">
                            <div class="stg-themes-installed-title">@item.Title</div>
                            <ul class="stg-themes-installed-info">
                                <li>Designed by <a href="#">John Doe</a></li>
                                <li>Version 2.1</li>
                            </ul>
                            <div class="d-flex">
                                <button type="button" class="btn btn-outline-default flex-grow-1 me-2" @onclick="()=> SelectTheme(item.Title)" @onclick:preventDefault>@_localizer["select"]</button>
                                <button type="button" class="btn btn-outline-default">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
}

<ToasterComponent @ref="Toaster" />

@code {
    protected Blog Blog { get; set; }
    protected List<ThemeItem> Themes { get; set; }
    protected ThemeItem CurrentTheme { get; set; }
    protected ToasterComponent Toaster;

    protected override async Task OnInitializedAsync()
    {
        await Load();
    }

    public async Task Load()
    {
        Themes = new List<ThemeItem>();

        Blog = await _http.GetFromJsonAsync<Blog>("api/blog");
        var allThemes = await _http.GetFromJsonAsync<IList<string>>($"api/storage/themes");

        foreach (var theme in allThemes)
        {
            if (theme.ToLower() == Blog.Theme.ToLower())
            {
                CurrentTheme = new ThemeItem
                {
                    Title = theme.Capitalize(),
                    IsCurrent = (Blog.Theme.ToLower() == theme.ToLower()),
                    Cover = await GetCover(theme)
                };
            }
            else
            {
                Themes.Add(new ThemeItem
                {
                    Title = theme.Capitalize(),
                    IsCurrent = (Blog.Theme.ToLower() == theme.ToLower()),
                    Cover = await GetCover(theme)
                });
            }
        }
    }

    protected async Task SelectTheme(string theme)
    {
        Blog.Theme = theme;
        Toaster.Toast(await _http.PutAsJsonAsync<Blog>($"api/blog", Blog));
        await Load();
    }

    private async Task<string> GetCover(string theme)
    {
        string slash = System.IO.Path.DirectorySeparatorChar.ToString();
        string file = $"wwwroot{slash}themes{slash}{theme}{slash}screenshot.png";
        var result = await _http.PutAsJsonAsync<string>($"api/storage/exists", file);

        if (result.IsSuccessStatusCode)
            return $"themes/{theme}/screenshot.png";
        else
            return "img/img-placeholder.png";
    }

    //bool showModal = false;
    //void ModalShow() => showModal = true;
    //void ModalCancel() => showModal = false;
}
