@layout SettingsLayout
@page "/admin/settings/customize/widgets/"
@inject IStringLocalizer<Resource> _localizer
<BlogPageTitle Title="@_localizer["widgets"]" />

<h1 class="section-title">@_localizer["widgets"]</h1>
<p class="section-desc w-75">@_localizer["theme-customization-desc"]</p>
<div class="section-content">
    <div class="alert alert-secondary d-flex align-items-center">
        @_localizer["under-development"].
        <a class="ms-auto btn btn-sm btn-secondary py-1" target="_blank" href="https://github.com/blogifierdotnet/blogifier/projects/">
            @_localizer["more-info"]
        </a>
    </div>
</div>
