@inject IJsonStringLocalizer<BlogSettings> Localizer
@inject Sotsera.Blazor.Toaster.IToaster Toaster
@inject IOptions<JsonLocalizationOptions> Options
@inject IJSRuntime JSRuntime

@inject IHttpContextAccessor HttpContextAccessor
@inject CustomHttpClient Http

@if (Model != null)
{
    <EditForm Model="@Model" OnValidSubmit="SaveBlogSettings">
        <div class="app-settings-title">Basic Settings</div>
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label class="form-control-label">@Localizer["title"]</label>
            <input type="text" class="form-control" @bind="Model.Title" name="title" />
        </div>
        <div class="form-group">
            <label class="form-control-label">@Localizer["description"]</label>
            <input type="text" class="form-control" @bind="Model.Description" name="description" />
        </div>
        <div class="form-group">
            <label class="form-control-label">@Localizer["items-per-page"]</label>
            <input type="text" class="form-control" @bind="Model.ItemsPerPage" name="pageitems" />
        </div>
        <div class="form-group">
            <div class="custom-control custom-switch">
                <input type="checkbox" @bind="Model.IncludeFeatured" class="custom-control-input" id="switch1">
                <label class="custom-control-label" for="switch1">@Localizer["include-featured"]</label>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label">@Localizer["logo"]</label>
            <div class="input-group">
                <input type="text" class="form-control txt-upload" @bind="Model.Logo" name="logo" id="logo" readonly="" />
                <span class="input-group-append">
                    <button class="btn btn-secondary" onclick="return fileManager.uploadClick('@UploadType.AppLogo');" type="button"> @Localizer["select"]</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label">@Localizer["cover"]</label>
            <div class="input-group">
                <input type="text" class="form-control txt-upload" @bind="Model.Cover" name="cover" id="cover" readonly="" />
                <span class="input-group-append">
                    <button class="btn btn-secondary" onclick="return fileManager.uploadClick('@UploadType.AppCover');" type="button"> @Localizer["select"]</button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label">@Localizer["language"]</label>
            <select @bind="Model.Culture" class="custom-select">
                @if (Cultures != null)
                {
                    @foreach (var culture in Cultures)
                    {
                        <option value="@culture.Value">@culture.Text</option>
                    }
                }
            </select>
        </div>
        <div class="form-submit-button">
            <input type="submit" value="@Localizer["save"]" class="btn btn-brand" />
        </div>
    </EditForm>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected HttpRequest Request { get; set; }
    protected BlogItem Model { get; set; }
    protected List<SelectListItem> Cultures { get; set; }
    protected List<SelectListItem> Themes { get; set; }
    private string CurrentCulture { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Request = HttpContextAccessor.HttpContext.Request;

        Cultures = Options.Value.SupportedCultureInfos
            .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
            .ToList();

        Themes = new List<SelectListItem>();
        var allThemes = await Http.GetJsonAsync<IList<string>>($"themes/getall", Request);
        foreach (var theme in allThemes)
        {
            Themes.Add(new SelectListItem { Value = theme, Text = theme.Capitalize() });
        }

        Model = await Http.GetJsonAsync<BlogItem>($"settings", Request);
        CurrentCulture = Model.Culture;
    }

    protected async Task SaveBlogSettings()
    {
        await Http.PostJsonAsync<BlogItem>($"settings", Request, Model);

        if (Model.Culture != CurrentCulture)
        {
            var cookieValue = CookieRequestCultureProvider.MakeCookieValue(new RequestCulture(Model.Culture));
            cookieValue = cookieValue.Replace("=", "%3D").Replace("|", "%7C");

            var test = await JSRuntime.InvokeAsync<string>(
                "commonJsFunctions.writeCookie",
                CookieRequestCultureProvider.DefaultCookieName,
                cookieValue,
                365
            );
        }

        Toaster.Success("Saved");
    }

    protected void Uploaded()
    {
        StateHasChanged();
        Toaster.Success("Saved");
    }
}
