@using Blogifier.Core.Common
@using Blogifier.Core.Data.Models
@model BlogPostsModel
@inject IComponentHelper helper
<section class="blog-cover" style="background-image: url('@Model.CoverImg')">
    <div class="container">
        <h1 class="cover-title">@ApplicationSettings.Title</h1>
        <p class="cover-desc">@ApplicationSettings.Description</p>
    </div>
</section>
@Html.Partial($"~/{ApplicationSettings.BlogThemesFolder}/Standard/_Shared/_Post.cshtml", Model.Posts)
@Html.Partial($"~/{ApplicationSettings.BlogThemesFolder}/Standard/_Shared/_Pager.cshtml", Model.Pager)