@model Blogifier.Core.Data.Models.AdminEditorModel
@{
    //var themeFolder = "embedded/admin/standard";
    var themeFolder = "blogifier/admin/custom";
    var colNum = Model.BlogPost.Id > 0 ? 9 : 12;
}
<link href="~/@themeFolder/lib/autocomplete/easy-autocomplete.min.css" rel="stylesheet" />

@*<div id="post-edit-actions" class="page-toolbar"></div>*@

<div id="page-content-wrapper">
    <div id="post-edit" class="post-edit">

        <div class="page-toolbar">
            <button type="button" onclick="editorController.savePost(); return false;" class="btn btn-success">Save</button>
            <a href="~/admin" class="btn btn-secondary">Cancel</a>
        </div>

        <div class="row">
            <div class="col-@colNum">
                <form id="frmEditor" style="height:100%;">
                    <div class="form-group">
                        <input id="txtPostTitle" class="form-control" value="@Model.BlogPost.Title" placeholder="Post title..." />
                    </div>
                    <div class="form-group">
                        <textarea id="txtContent" name="txtContent">@Model.BlogPost.Content</textarea>
                    </div>
                    <input type="hidden" id="hdnPostId" name="hdnPostId" value="@Model.BlogPost.Id" />
                </form>
            </div>
            @if (Model.BlogPost.Id > 0)
            {
                <div class="col-3">
                    <div id="post-image" class="form-group">
                        @if (Model.BlogPost.Image == null)
                        {
                            <button type="button" class="post-image-upload" onclick="return editorController.openFilePicker(@Model.BlogPost.Id);">
                                <i class="fa fa-photo"></i><span>Add Post Cover</span>
                            </button>
                        }
                        else
                        {
                            <div class="post-image-uploaded">
                                <img src="@Model.BlogPost.Image" />
                                <div class="post-image-actions btn-group">
                                    <a href="~/blog/@Model.BlogPost.Slug" target="_blank" title="Post image" class="btn"><i class="fa fa-link"></i></a>
                                    <button type="button" class="btn" onclick="return editorController.resetPostImage(@Model.BlogPost.Id);">
                                        <i class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </div>
                        }
                    </div>

                    <div class="post-category">

                        <ul id="edit-categories"></ul>
                        <form method="post" asp-controller="Admin" asp-action="Profile" asp-antiforgery="true">
                            <div class="input-group">
                                <input type="text" id="txtCategory" class="form-control" placeholder="category..." />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary" onclick="postController.saveCategory()">Save</button>
                                </span>
                            </div>
                        </form>

                    </div>
                </div>
            }
        </div>

    </div>
</div>

<div class="modal inmodal fade" id="modalFilePicker" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">File picker</h4>
            </div>
            <div class="modal-body">
                <div class="modal-list-empty" style="display: none">
                    You do not have any files yet - <a href="~/admin/files">upload now</a>!
                </div>
                <div class="asset-gallery" id="filePickerList"></div>
                <ul class="pager"></ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/@themeFolder/lib/tinymce/tinymce.min.js"></script>
    <script src="~/@themeFolder/lib/autocomplete/jquery.easy-autocomplete.min.js"></script>
    <script src="~/@themeFolder/js/filePickerController.js"></script>
    <script src="~/@themeFolder/js/editorController.js"></script>
}