@model Blogifier.Core.Data.Models.AdminEditorModel
@{
    var themeFolder = "blogifier/admin/custom";
    var filePicker = string.Format("~/Views/{0}/_Shared/_FilePicker.cshtml", themeFolder);
}
<div id="post-edit" class="post-edit">
    <form id="frmEditor" style="height:100%;">
        <div class="form-group">
            <input id="txtPostTitle" class="form-control" value="@Model.BlogPost.Title" placeholder="Post title..." />
        </div>
        <div class="form-group">
            <textarea id="txtContent" name="txtContent" class="form-control form-control-textcontent">@Model.BlogPost.Content</textarea>
        </div>
        <input type="hidden" id="hdnPostId" name="hdnPostId" value="@Model.BlogPost.Id" />
        <input type="hidden" id="hdnPostImg" name="hdnPostImg" value="@Model.BlogPost.Image" />
        <input type="hidden" id="hdnPublished" name="hdnPublished" value="@Model.BlogPost.Published" />
    </form>
    <div class="page-toolbar clearfix">
        <div class="float-left">
            <div id="action-buttons" class="btn-group"></div>
            <a href="~/admin" class="btn btn-secondary">Cancel</a>
            <span class="spin-icon" style="text-align: center; display:none">
                <i class="fa fa-spin fa-cog fa-2x fa-fw"></i>
                <span class="sr-only">Loading...</span>
            </span>
        </div>
        <div class="float-right">
            <div class="btn-group">
                <div class="btn-group dropup" id="post-image"></div>
                <div class="btn-group dropup">
                    <button id="btnGroupDrop2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-bookmark"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="btnGroupDrop2">
                        <div class="post-category">
                            <form id="frmCategory">
                                <div class="input-group">
                                    <input type="text" id="txtCategory" onkeypress="editorController.categoryKeyPress(event)" class="form-control" placeholder="category..." />
                                    <span class="input-group-btn">
                                        <button type="button" class="btn btn-secondary" onclick="editorController.saveCategory()">Add</button>
                                    </span>
                                </div>
                            </form>
                            <ul id="edit-categories">
                                @foreach (var category in Model.CategoryList)
                                {
                                    <li id="cat-@category.Value">
                                        <label class="custom-control custom-checkbox">
                                            @if (category.Selected)
                                            {
                                                <input type="checkbox" id="cbx-@category.Value" value="@category.Value" checked="checked" class="custom-control-input">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="cbx-@category.Value" value="@category.Value" class="custom-control-input">
                                            }
                                            <span class="custom-control-indicator"></span>
                                            <span class="custom-control-description">@category.Text</span>
                                        </label>
                                        <button type="button" tabindex="-1" onclick="editorController.removeCategory('@category.Value')"><i class="fa fa-times"></i></button>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Html.Partial(filePicker)
@section Scripts{
    <script src="~/@themeFolder/lib/tinymce/tinymce.min.js"></script>
    <script src="~/@themeFolder/lib/autocomplete/jquery.easy-autocomplete.min.js"></script>
    <script src="~/@themeFolder/js/filePickerController.js"></script>
    <script src="~/@themeFolder/js/editorController.js"></script>
    <script>
        editorController.loadPostImage();
        editorController.loadActionButtons();
    </script>
}