@model Blogifier.Core.Data.Models.AdminEditorModel
<div id="post-edit" class="bf-editor">
    <form id="frmEditor">
        <!--
            if there is no cover post, we have to remove "bf-editor-cover" class and style attribute.    
        -->
        <div class="bf-editor-header bf-editor-cover" style="background-image:url(/embedded/lib/img/cover.png);">
            <textarea class="bf-editor-title bf-editor-container" id="txtPostTitle" rows="1" placeholder="Post title..." autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false">@Model.BlogPost.Title</textarea>
        </div>
        <div class="bf-editor-container">
            <textarea id="txtContent" name="txtContent" class="form-control form-control-text" placeholder="Post Content...">@Model.BlogPost.Content</textarea>
        </div>
        <input type="hidden" id="hdnPostId" name="hdnPostId" value="@Model.BlogPost.Id" />
        <input type="hidden" id="hdnPostSlug" name="hdnPostSlug" value="@Model.BlogPost.Slug" />
        <input type="hidden" id="hdnPostImg" name="hdnPostImg" value="@Model.BlogPost.Image" />
        <input type="hidden" id="hdnPublished" name="hdnPublished" value="@Model.BlogPost.Published" />
    </form>
    <div class="bf-editor-container">
        <div class="bf-editor-footer">
            <div class="bf-editor-container">
                <div class="btn-group btn-group-icon float-right">
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#postSettings" title="Post Settings"><i class="fa fa-cog"></i></button>
                    <button type="button" class="btn btn-outline-secondary" data-toggle="modal" data-target="#fileManager" title="Change The Cover"><i class="fa fa-photo"></i></button>
                    @*<div id="post-image" class="admin-editor-cover"></div>*@
                </div>
                <span id="action-buttons"></span>
                <a href="~/admin" class="btn btn-link">Cancel</a>
            </div>
        </div>
        <!--
        TODO: Add Loading Style!s
        <div class="spin-icon"><i class="fa fa-spin fa-cog"></i></div>
        -->
        <div class="modal fade" id="postSettings" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4>Post Settings</h4>
                        <button class="close" data-dismiss="modal" aria-label="Close"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="admin-editor-category">
                            <h5>Category</h5>
                            <form id="frmCategory">
                                <input type="text" id="txtCategory" title="Type and Enter" autocomplete="off" onkeypress="editorController.categoryKeyPress(event)" class="form-control" placeholder="Category Name..." />
                            </form>
                            <ul id="edit-categories">
                                @foreach (var category in Model.CategoryList)
                                {
                                    <li id="cat-@category.Value">
                                        <label>
                                            @if (category.Selected)
                                            {
                                                <input type="checkbox" id="cbx-@category.Value" value="@category.Value" checked="checked" class="custom-control-input">
                                            }
                                            else
                                            {
                                                <input type="checkbox" id="cbx-@category.Value" value="@category.Value" class="custom-control-input">
                                            }
                                            @category.Text
                                        </label>
                                        <i class="fa fa-times" aria-label="Delete" onclick="editorController.removeCategory('@category.Value')"></i>
                                    </li>
                                }
                            </ul>
                        </div>
                        <div class="admin-editor-description">
                            <h5>Description</h5>
                            <textarea rows="6" id="txtDescription" class="form-control">@Model.BlogPost.Description</textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hide">
    <form method="post" name="frmUploadAssets" id="frmUploadAssets" asp-action="Index" asp-controller="Blogifier/Api/Assets/Multiple" enctype="multipart/form-data">
        <input type="file" name="files" id="files" multiple onchange="filePickerController.uploadAssets(); return false;" />
        <input type="submit" value="Upload Multiple" />
    </form>
</div>
@Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_FileManager.cshtml")
@section Scripts{
    <script>
        var textarea = document.getElementById("txtPostTitle");
        var limit = 200;

        textarea.oninput = function () {
            textarea.style.height = "";
            textarea.style.height = Math.min(textarea.scrollHeight, 300) + "px";
        };
    </script>
    <script src="~/blogifier/admin/custom/js/lib/autosize.min.js"></script>
    <script src="~/blogifier/admin/custom/js/lib/tinymce/tinymce.min.js"></script>
    <script src="~/blogifier/admin/custom/js/app/filePickerController.js"></script>
    <script src="~/blogifier/admin/custom/js/app/editorController.js"></script>
    <script src="~/blogifier/admin/custom/js/app/assetController.js"></script>

    <script>
        autosize($('#txtPostTitle'));

        editorController.loadPostImage();
        editorController.loadActionButtons();


    </script>
}