@model Blogifier.Core.Data.Models.AdminPostsModel
@using Blogifier.Core.Extensions
@using Blogifier.Core.Common;
@{
    var pgr = Model.Pager;
    var cntFrom = pgr.CurrentPage == 1 ? 1 : (pgr.CurrentPage - 1) * pgr.ItemsPerPage + 1;
    var cntTo = pgr.CurrentPage * pgr.ItemsPerPage < pgr.Total ? pgr.CurrentPage * pgr.ItemsPerPage : pgr.Total;
    var curPost = 0;
}
<div class="bf bf-posts">
    <div class="bf-sidebar">
        <div class="bf-posts-sidebar-head">
            <label class="item-head item-head-select custom-control custom-checkbox"><input class="custom-control-input item-checkbox" type="checkbox" name="selectAll"><span class="item-head-control custom-control-indicator"></span></label>
            <a href="~/admin/editor/0" class="btn btn-light btn-rounded btn-block">New Post</a>
            <button class="item-head item-head-tools btn-unstyled" data-toggle="collapse" href="#sidebarTools" aria-expanded="false" aria-controls="sidebarTools"><i class="fa fa-filter item-head-control"></i></button>
        </div>
        <div class="bf-posts-sidebar-filters collapse" id="sidebarTools">
            <form class="item-search" action="~/admin" method="get">
                <input class="item-search-input" type="search" name="search" placeholder="Search..." autocomplete="off" />
                <i class="item-search-icon fa fa-search"></i>
            </form>
            <form id="frmFilter" asp-controller="Admin" asp-action="Index" method="post">
                <div class="item-category">
                    <button class="item-category-toggle" type="button" data-toggle="collapse" href="#postsFilterCategory" aria-expanded="false" aria-controls="postsFilterCategory">Categories <i class="item-category-icon fa fa-angle-down"></i></button>
                    <div class="item-category-list collapse" id="postsFilterCategory">
                        @foreach (var cat in Model.CategoryFilter)
                        {
                            var isChecked = cat.Selected ? "checked" : "";
                            <label class="item-category-label custom-control custom-checkbox"><input type="checkbox" name="category-filter" value="@cat.Value" @isChecked onclick="submitFilter()" class="custom-control-input chk"><span class="custom-control-indicator"></span><span class="custom-control-description">@cat.Text</span></label>
                        }
                    </div>
                </div>
                <div class="item-status d-flex">
                    @foreach (var ftr in Model.StatusFilter)
                    {
                        var ftrChecked = ftr.Selected ? "checked" : "";
                        <label class="item-status-label"><input type="radio" name="status-filter" value="@ftr.Value" @ftrChecked onclick="submitFilter()" class="custom-control-input"><span class="item-status-label-name">@ftr.Text</span></label>
                    }
                </div>
            </form>
        </div>
        <div class="bf-posts-sidebar-multiactions" id="postsMultiactions">
            <div class="d-flex">
                <button type="button" class="btn-unstyled" data-toggle="tooltip" onclick="return postsController.removePost()" title="Delete"><i class="fa fa-trash"></i></button>
                <button type="button" class="btn-unstyled" data-toggle="tooltip" onclick="return postsController.publish()" title="Publish"><i class="fa fa-check"></i></button>
                <button type="button" class="btn-unstyled" data-toggle="tooltip" onclick="return postsController.unpublish()" title="Unpublish"><i class="fa fa-archive"></i></button>
            </div>
        </div>
        <ul class="bf-posts-sidebar-list" aria-label="posts">
            @foreach (var item in Model.BlogPosts)
            {
                var published = item.Published == DateTime.MinValue ? "DRAFT" : item.Published.ToString("MMM dd, yyyy");
                if (curPost == 0) { curPost = item.BlogPostId; }
                <li class="item-list">
                    <label class="item-list-select custom-control custom-checkbox"><input type="checkbox" id="@item.BlogPostId" class="item-list-checkbox custom-control-input"><span class="item-control custom-control-indicator"></span></label>
                    <a class="item-list-link item-list-link-desktop" href="#" onclick="return postsController.showPost('@item.BlogPostId')">@item.Title</a>
                    <a class="item-list-link item-list-link-mobile" href="~/admin/editor/@item.BlogPostId">@item.Title</a>
                    <div class="item-list-info">
                        <a href="/@ApplicationSettings.BlogRoute@item.Slug" data-toggle="tooltip" title="@item.PostViews views" target="_blank" aria-label="View" role="button"><i class="fa fa-eye"></i></a>
                        <a aria-label="Publish date">@published</a>
                    </div>
                </li>
            }
        </ul>
        <!-- PAGINATION -->
        @if (pgr.ShowNewer || pgr.ShowOlder)
        {
            <div class="bf-sidebar-pagination">
                @if (pgr.ShowOlder)
                {
                    <a href="~/admin/@pgr.Older"><i class="fa fa-angle-left"></i> Older Posts <span>(@cntFrom-@cntTo out of @pgr.Total)</span></a>
                }
                @if (pgr.ShowNewer)
                {
                    <a href="~/admin/@pgr.Newer"><i class="fa fa-angle-right"></i>Newer post <span>(@cntFrom-@cntTo out of @pgr.Total)</span></a>
                }
            </div>
        }
        <!--/PAGINATION -->
    </div>
    <div class="bf-content bf-content-posts">
        <!-- PREVIEW POST (This section will change for each post) -->
        <div class="bf-content-post-cover" style="background-image:url(/embedded/lib/img/cover.png);">
            <div class="bf-content-post-cover-body">
                <p id="post-tagline"></p>
                <h1 id="post-title"></h1>
                <button type="button" class="btn btn-primary btn-sm btn-edit mr-2" onclick="postsController.editPost()">Edit</button>
                <button type="button" class="btn btn-outline-primary btn-view btn-sm mr-2" onclick="postsController.showPost()">View</button>
                <div class="btn-group btn-group-icon" role="group">
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="postsController.removePost()" title="Delete"><i class="fa fa-trash"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm" id="btnPublish" onclick="postsController.publish()" title="Publish"><i class="fa fa-check"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm" id="btnUnpublish" onclick="postsController.unpublish()" title="Unpublish"><i class="fa fa-archive"></i></button>
                    <button type="button" class="btn btn-outline-primary btn-sm" onclick="" data-toggle="modal" data-target="#fileManager" title="Change the cover"><i class="fa fa-photo"></i></button>
                </div>
            </div>
        </div>
        <div class="bf-content-post-text"></div>
        <!--/PREVIEW POST-->
    </div>
</div>
<div class="bf-posts-empty">
    <div class="bf-posts-empty-body">
        <h1>Let's write a new post!</h1>
        <a href="/admin/editor/0" class="btn btn-lg btn-light btn-rounded">New Post</a>
    </div>
</div>
@Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_FileManager.cshtml")
@section Scripts{
    <script src="~/blogifier/admin/custom/js/app/postsController.js"></script>
    <script>
        var submitFilter = function () {
            $('#frmFilter').submit();
        }
        postsController.showPost('@curPost');
        $('.bf-posts-sidebar-list .item-list-link-desktop:first').addClass('active');
    </script>
}

