@model Blogifier.Core.Data.Models.AdminPostsModel
@using Blogifier.Core.Common;
@{
    var pgr = Model.Pager;
    var cntFrom = pgr.CurrentPage == 1 ? 1 : (pgr.CurrentPage - 1) * pgr.ItemsPerPage + 1;
    var cntTo = pgr.CurrentPage * pgr.ItemsPerPage < pgr.Total ? pgr.CurrentPage * pgr.ItemsPerPage : pgr.Total;
    var curPost = 0;

    bool showEmptyListCover = Model.BlogPosts == null || Model.BlogPosts.Count() == 0;
    if (!string.IsNullOrEmpty(Context.Request.Query["search"]))
    {
        showEmptyListCover = false;
    }
}

<div class="bf-posts-toolbar">
    <label class="custom-control custom-checkbox float-left"><input class="custom-control-input item-checkbox" type="checkbox" name="selectAll"><span class="item-control custom-control-indicator"></span></label>
    <a href="~/admin/editor/0" tabindex="2" class="btn btn-primary float-left mr-2">New Post</a>
    <div class="btn-group btn-group-sm btn-group-icon float-left" id="postsMultiactions">
        <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" onclick="return postsController.removePost()" title="Delete"><i class="fa fa-trash"></i></button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" onclick="return postsController.unpublish()" title="Unpublish"><i class="fa fa-archive"></i></button>
        <button type="button" class="btn btn-outline-secondary" data-toggle="tooltip" onclick="return postsController.publish()" title="Publish"><i class="fa fa-check"></i></button>
    </div>
    <form class="bf-posts-search float-right" action="~/admin" method="get">
        <input class="search-input" tabindex="3" type="search" name="search" placeholder="Search..." autocomplete="off" />
    </form>
</div>
<ul class="bf-posts-list" aria-label="posts">
    @foreach (var item in Model.BlogPosts)
    {
        var published = item.Published == DateTime.MinValue ? "DRAFT" : item.Published.ToString("MMM dd, yyyy");
        if (curPost == 0) { curPost = item.BlogPostId; }
        <li class="item">
            <label class="item-select custom-control custom-checkbox"><input type="checkbox" id="@item.BlogPostId" class="item-checkbox custom-control-input"><span class="item-control custom-control-indicator"></span></label>
            <div class="item-info">
                <span> @item.PostViews</span>
                <a aria-label="Publish date">@published</a>
            </div>
            <a class="item-link item-link-mobile" href="~/admin/editor/@item.BlogPostId">@item.Title</a>
            <a class="item-show" href="/@ApplicationSettings.BlogRoute@item.Slug" target="_blank" role="button"><i class="fa fa-external-link-square"></i></a>
        </li>
    }
</ul>
@if (pgr.ShowNewer || pgr.ShowOlder)
{
    <ul class="bf-posts-pagination">
        <li class="item"><a class="item-link" href="~/admin/@pgr.Older" disabled><i class="fa fa-angle-left"></i></a></li>
        <li class="item"><span class="item-count">@cntFrom-@cntTo out of @pgr.Total</span></li>
        <li class="item"><a class="item-link" href="~/admin/@pgr.Newer"><i class="fa fa-angle-right"></i></a></li>
    </ul>
}

@if (showEmptyListCover)
{
    <div class="bf-posts-empty">
        <div class="item-body">
            <h1 class="item-title">Let's write a new post!</h1>
            <a href="/admin/editor/0" class="btn btn-light btn-lg btn-rounded">New Post</a>
        </div>
    </div>
}
@Html.Partial("~/Views/Blogifier/Admin/Custom/_Shared/_FileManager.cshtml")
@section Scripts{
    <script src="~/blogifier/admin/custom/js/app/postsController.js"></script>
    <script src="~/blogifier/admin/custom/js/app/assetController.js"></script>
    <script>
        var submitFilter = function () {
            $('#frmPostFilter').submit();
        }
        postsController.showPost('@curPost');
        $('.bf-posts-list .item-link-desktop:first').addClass('active');
    </script>
}