@model PostModel
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/cheese/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"]">
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <partial name="~/Views/Themes/cheese/_Shared/_Header.cshtml" />



        <div class="container">
    <div class="page-content">
            <article class="post-single">

                    <div class=" post-body">
                        <div class="post-cover-wrap">
                            <img src="@Model.Blog.Cover" alt="@Model.Post.Title" class="post-cover" />
                            <header class="post-header">
                                <time class="post-meta-time">@string.Format("{0:MMM d, yyyy}", Model.Post.Published)</time>
                                <h2 class="post-title">@Model.Post.Title</h2>
                                <div class="d-flex mb-5">
                                    <div class="post-meta">
                                        <a href="~/authors/@Model.Post.Author.AppUserName">
                                            <img class="post-meta-img" src="~/@Model.Post.Author.Avatar" alt="@Model.Post.Author.DisplayName" />
                                            <span class="post-meta-author">@Model.Post.Author.DisplayName</span>
                                        </a>
                                    </div>
                                    <ul class="post-categories ml-auto">
                                        @if (!string.IsNullOrEmpty(Model.Post.Categories))
                                            {
                                            var cats = Model.Post.Categories.Split(',');

                                            foreach (var cat in cats)
                                            {
                                        <li><a href="~/categories/@cat">@cat</a></li>
                                            }
                                            }
                                    </ul>
                                </div>
                            </header>
                        </div>
                    
                        <div class="post-content">
                            @Html.Raw(Model.Post.Content)
                        </div>

                        @if (Model.Older != null || Model.Newer != null)
                {
                        <ul class="pagination justify-content-center">
                            @if (Model.Older != null)
                        {
                            <li class="item item-prev">
                                <a class="item-link" href="~/posts/@Model.Older.Slug" title="@Model.Older.Title">
                                    <i class="fa fa-chevron-left mr-3"></i>   Previous Post
                                </a>
                            </li>
                        }
                            @if (Model.Newer != null)
                        {
                            <li class="item item-next">
                                <a class="item-link" href="~/posts/@Model.Newer.Slug" title="@Model.Newer.Title">
                                    Next Post <i class="fa fa-chevron-right  ml-3"></i>
                                </a>
                            </li>
                        }
                        </ul>
                }
                    </div>
            </article>
        </div>
    </div>




    <partial name="~/Views/Themes/cheese/_Shared/_Footer.cshtml" />
</body>
</html>
