@model AccountProfilePasswordModel

@{
  Layout = "layouts/_profile.cshtml";
}

@inject IStringLocalizer<Resource> _localizer

@section HeaderScript{
  <title>@_localizer["edit-profile"]</title>
}

<h1 class="section-title">@_localizer["change-password"]</h1>
<div class="section-content -half">
  @if (!string.IsNullOrEmpty(Model.Error))
  {
    <div class="account-message -error">@Model.Error</div>
  }
  <form method="post" asp-controller="account" asp-action="password">
    <div class="form-item">
      <label for="password" class="form-label">@_localizer["password"]</label>
      <input id="password" class="form-control" asp-for="Password" />
      <span asp-validation-for="Password"></span>
    </div>
    <div class="form-item">
      <label for="passwordConfirm" class="form-label">@_localizer["confirm-password"]</label>
      <input id="passwordConfirm" class="form-control" asp-for="PasswordConfirm" />
      <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <div class="form-item">
      <button type="submit" class="btn btn-blogifier px-5">@_localizer["save"]</button>
    </div>
  </form>
</div>
