@inject IViewLocalizer Localizer
<div class="bf-sidebar d-lg-block">
    <div class="bf-settings-sidebar">
        <ul class="bf-settings-sidebar-nav">
            @if (Model.IsAdmin)
            {
                <li is-active-route asp-controller="settings" asp-action="index">
                    <a href="~/admin/settings">@Localizer["general"]</a>
                </li>
            }
            <li is-active-route asp-controller="settings" asp-action="profile">
                <a href="~/admin/settings/profile">@Localizer["profile"]</a>
            </li>
            @if (Model.IsAdmin)
            {
                <li is-active-route asp-controller="settings" asp-action="themes">
                    <a href="~/admin/settings/themes">@Localizer["themes"] </a>
                </li>
                <li is-active-route asp-controller="settings" asp-action="users">
                    <a href="~/admin/settings/users">@Localizer["users"]</a>
                </li>
                <li is-active-route asp-controller="settings" asp-action="register">
                    <a href="~/admin/settings/register">@Localizer["new-user"]</a>
                </li>
                <li is-active-route asp-controller="settings" asp-action="import">
                    <a href="~/admin/settings/import">@Localizer["import"]</a>
                </li>
            }
        </ul>
    </div>
</div>