@page
@model App.Pages.Admin.Settings.ProfileModel
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Profile";
}
<div class="bf-main">
    <partial name="~/Pages/Admin/Settings/_Taskbar.cshtml" />
    <div class="bf-body">
        <form method="POST">
            <div class="bf-content bf-content-boxed bf-settings">

                @if (Model.Action == "Confirm")
                {
                    <div>This will remove user "@Model.Author.AppUserName" and all user content from the blog. Continue?</div>
                    <button type="submit" asp-page-handler="Remove" asp-route-name="@Model.Author.AppUserName" class="btn btn-danger">
                        @Localizer["remove"]
                    </button>
                    <a asp-page="Users" class="btn btn-secondary">Cancel</a>
                }
                else if (Model.Action == "Remove")
                {
                    <div>@Localizer["removed"]</div>
                }
                else
                {
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label class="form-group-label">@Localizer["user-name"]</label>
                        <input type="text" asp-for="Author.DisplayName" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-group-label">@Localizer["email"]</label>
                        <input type="text" asp-for="Author.Email" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="form-group-label">@Localizer["user-bio"]</label>
                        <textarea asp-for="Author.Bio" cols="5" class="form-control"></textarea>
                    </div>
                    @if (Model.Author.AppUserName == User.Identity.Name)
                    {
                        <div class="form-group">
                            <label class="form-group-label">@Localizer["avatar"]</label>
                            <div class="input-group">
                                <input type="text" asp-for="Author.Avatar" class="form-control" readonly />
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-secondary btn-upload" onclick="return fileManagerController.open(updateAvatarCallback);"> @Localizer["select"]</button>
                                </span>
                            </div>
                        </div>
                    }
                    <input type="hidden" asp-for="Author.Id" />
                    <input type="hidden" asp-for="Author.AppUserName" />
                    <button type="submit" class="btn btn-primary btn-main">@Localizer["save"]</button>

                    @if (Model.Author.AppUserName == User.Identity.Name)
                    {
                        <button type="button" class="btn btn-secondary" onclick="return openChangePwd();">@Localizer["change-password"]</button>
                    }
                    @if (Model.IsAdmin && Model.Author.AppUserName != User.Identity.Name)
                    {
                        <button type="submit" asp-page-handler="Confirm" asp-route-name="@Model.Author.AppUserName" class="btn btn-danger">@Localizer["delete"]</button>
                    }
                }
            </div>
        </form>
    </div>
</div>

<div class="modal fade" id="dlgChangePwd" tabindex="-1" role="dialog" aria-hidden="true">
    <partial name="~/Pages/Admin/Settings/_ChangePwd.cshtml" model="new ChangePasswordModel { UserName = User.Identity.Name }" />
</div>

<partial name="~/Pages/Admin/Shared/_FileMgr.cshtml" />

@section Scripts{
    @Html.Raw(Model.RenderMessage())
    <script src="~/admin/js/app/fileManagerController.js"></script>
    <script src="~/admin/js/lib/jquery.validate.min.js"></script>
    <script src="~/admin/js/lib/jquery.validate.unobtrusive.min.js"></script>
    <script>
        var openChangePwd = function () {
            $('#frmChangePwd').validate().resetForm();
            $('#dlgChangePwd').modal();
            return false;
        }
        var changePwd = function () {
            $("#frmChangePwd").validate();
            if ($("#frmChangePwd").valid()) {
                return true;
            }
            return false;
        }
    </script>
}