@page
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Users"];
}
<style>
    .modal-body .row {
        line-height: 2.5em;
        border-bottom: 1px solid #efefef;
    }
    .post-grid-col {
        max-width: 200px !important
    }
    .error{ color: red; }
</style>
<div class="bf-main">
    <partial name="~/Pages/Admin/Settings/_Taskbar.cshtml" />
    <div class="bf-body">
        <div id="usersList" class="bf-posts-grid d-flex" aria-label="posts"></div>
        <div style="margin-left: 30px">
            <button type="button" class="btn btn-primary" onclick="return openRegister();">@Localizer["new-user"]</button>
        </div>
    </div>
</div>

<div class="modal fade" id="dlgRegister" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="hdrSettings">@Localizer["new-user"]</h4>
                <button type="button" class="close ml-2" title="Close" data-placement="bottom" data-tooltip data-dismiss="modal" aria-label="@Localizer["close"]">
                    <i class="fa fa-times"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="settings-body">
                    <form id="frmRegister" method="post">
                        <div class="bf-content bf-content-boxed bf-settings">
                            <div class="form-group">
                                <label class="form-group-label">@Localizer["user-name"]</label>
                                <input type="text" id="txtUserName" name="txtUserName" value="" class="form-control" required autofocus />
                            </div>
                            <div class="form-group">
                                <label class="form-group-label">@Localizer["email"]</label>
                                <input type="text" id="txtEmail" name="txtEmail" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="form-group-label">@Localizer["password"]</label>
                                <input type="password" id="txtPassword" name="txtPassword" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="form-group-label">@Localizer["confirm-password"]</label>
                                <input type="password" id="txtConfirmPassword" name="txtConfirmPassword" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label class="custom-control custom-checkbox my-auto pr-0 mr-2">
                                    <input type="checkbox" id="cbxSetAdmin" name="cbxSetAdmin" class="custom-control-input">
                                    <span class="custom-control-label">@Localizer["set-as-admin"]</span>
                                </label>
                            </div>
                            <button type="button" onclick="return usersController.add();" class="btn btn-primary btn-main">@Localizer["save"]</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/admin/js/lib/jquery.validate.min.js"></script>
    <script src="~/admin/js/lib/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/admin/js/app/usersController.js"></script>
    <script>
        var openRegister = function () {
            $('#frmRegister').validate().resetForm();
            $('#dlgRegister').modal();
            return false;
        }
        $("#frmRegister").validate({
            rules: {
                txtPassword: {
                    minlength: 4
                },
                txtConfirmPassword: {
                    minlength: 4,
                    equalTo: "#txtPassword"
                },
                txtEmail: {
                    required: true,
                    email: true
                }
            }
        });
        usersController.load(1);
    </script>
}