@using Blogifier.Core.Common
@{
    var themeFolder = "blogifier/blog/AngularMaterial";
    var headView = string.Format("~/Views/{0}/_Shared/_Head.cshtml", themeFolder);
    var headerView = string.Format("~/Views/{0}/_Shared/_Header.cshtml", themeFolder);
    var footerView = string.Format("~/Views/{0}/_Shared/_Footer.cshtml", themeFolder);
    var sidenavView = string.Format("~/Views/{0}/_Shared/_Sidenav.cshtml", themeFolder);
}
<!DOCTYPE html>
<html lang="en">
<head>
@Html.Partial(headView)
</head>
<body ng-app="angularMaterialApp" ng-controller="angularMaterialAppController" ng-init="blogSettings.blogRoute = '@Constants.BlogRoute'" ng-cloak>
    <!--[if lt IE 10]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <div layout="row" layout-align="start stretch" style="min-height: 100%;">
        @Html.Partial(sidenavView)
        <div class="blog-wrapper" layout="column">
            <div class="header-wrapper">
                @Html.Partial(headerView)
            </div>
            <div class="content-wrapper" flex style="width: 100%;" layout="column">
                @RenderBody()
            </div>
            <div class="footer-wrapper">
                @Html.Partial(footerView)
            </div>
        </div>
    </div>
</body>
</html>
