@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@{
    var siteTitle = Model.Blog.Title;
    var version = "3.0";
}

<div class="modal fade search-modal" id="searchModal" tabindex="-1" aria-labelledby="searchModalLabel" aria-hidden="true">
  <div class="modal-dialog mt-5">
    <div class="modal-content">
        <form id="searchForm" class="search-form" asp-controller="Home" asp-action="Search" method="post">
            <input type="search" id="searchFormInput" name="term" class="form-control form-control-lg border-0 shadow-none" placeholder="@_localizer["search"]..." autocomplete="off" autofocus>
        </form>
    </div>
  </div>
</div>

<footer class="container">
    <partial name="../components/newsletter.cshtml" />
    <section class="footer d-md-flex text-center text-md-start py-4 py-md-5">
        <p>&copy; @DateTime.Now.Year - @siteTitle</p>
        <p class="ms-md-auto mt-2 mt-md-0">
            @_localizer["powered-by"] <a href="https://blogifier.net" rel="nofollow" target="_blank" title="@_localizer["blogifier"] - @version">@_localizer["blogifier"]</a>
        </p>
    </section>
</footer>
