@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer

@if (User.Identity.IsAuthenticated)
{
    <div class="dropdown dropdown-user ms-2 my-auto">
        <button class="dropdown-user-link logedin" title="@_localizer["login"]" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            <img class="rounded-circle" src="~/@Constants.DefaultAvatar">
        </button>
        <ul class="dropdown-menu dropdown-menu-end dropdown-user-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item" href="~/admin/">@_localizer["dashboard"]</a></li>
            <li><a class="dropdown-item" href="~/admin/editor/">@_localizer["new-post"]</a></li>
            <li><a class="dropdown-item" href="~/admin/settings/">@_localizer["settings"]</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="~/admin/logout/">@_localizer["logout"]</a></li>
        </ul>
    </div>
}
else
{
    <a class="dropdown-user-link" href="~/account/login" title="@_localizer["login"]">
        <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
        </svg>
    </a>
}
