@{
    var request = Url.ActionContext.HttpContext.Request;
    var absoluteUrl = $"{request.Scheme}://{request.Host.ToUriComponent()}{request.PathBase.ToUriComponent()}";

    var siteTitle = Model.Blog.Title;
    var siteDesc = Model.Blog.Description;

    @* TODO: Customfield *@
    var siteMark = "titleDesc";
    var siteLogo = "/themes/standard/img/logo-black.png";
}

<header class="header">
    <div class="container d-flex align-items-center">
        @if (siteMark == "logo")
        {
            <a class="header-logo me-auto" href="@absoluteUrl">
                <img class="header-logo-img" src="@siteLogo" alt="@siteTitle">
            </a>
        }
        else if (siteMark == "title")
        {
            <a class="header-title me-auto" href="@absoluteUrl">@siteTitle</a>
        }
        else if (siteMark == "titleDesc")
        {
            <section class="header-sign me-auto">
                <a class="header-title" href="@absoluteUrl">@siteTitle</a>
                <p class="header-desc">@siteDesc</p>
            </section>
        }
        <partial name="../components/nav.cshtml" />
    </div>
</header>
