@using Blogifier.Shared.Resources
@using Blogifier.Shared
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<Resource> _localizer
@inject ICategoryProvider _categoryProvider
@inject IAuthorProvider _authorProvider

@{
    var categories = await _categoryProvider.Categories();
    var catUrl = Url.Content("~/categories");
    var currentUserAuthor = await _authorProvider.FindByEmail(User.Identity.Name);
}

<nav class="header-nav d-flex">

    <!-- Topics -->
    <div class="dropdown me-auto me-md-0">
        <button class="header-nav-link" type="button" id="mainNav" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="me-1">@_localizer["categories"]</span>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
            </svg>
        </button>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="mainNav">
            @foreach (var item in categories)
            {
                <li>
                    <a class="dropdown-item" href="@catUrl/@item.Category">@item.Category</a>
                </li>
            }
        </ul>
    </div>
    <!--/Topics -->
    <!-- Social -->
    <ul class="social d-flex ms-2" aria-label="@_localizer["social-accounts"]">
        <li>
            <a class="social-link-github header-nav-button" href="https://github.com/nicopizzo" target="_blank" aria-label="@_localizer["github"]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                    <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z" />
                </svg>
            </a>
        </li>
        <li>
            <a class="social-link-twitter header-nav-button" href="https://twitter.com/npizzo92" target="_blank" aria-label="@_localizer["twitter"]">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter" viewBox="0 0 16 16">
                    <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z" />
                </svg>
            </a>
        </li>
        <li>
            <a class="social-link-linkedin header-nav-button" href="https://www.linkedin.com/in/nico-pizzo-7974899a" target="_blank" aria-label="@_localizer["linkedin"]">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-linkedin" viewBox="0 0 24 24">
                    <path d="M19 0h-14c-2.761 0-5 2.239-5 5v14c0 2.761 2.239 5 5 5h14c2.762 0 5-2.239 5-5v-14c0-2.761-2.238-5-5-5zm-11 19h-3v-11h3v11zm-1.5-12.268c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zm13.5 12.268h-3v-5.604c0-3.368-4-3.113-4 0v5.604h-3v-11h3v1.765c1.396-2.586 7-2.777 7 2.476v6.759z" />
                </svg>
            </a>
        </li>
    </ul>
    <!--/social -->
    <!-- Search button -->
    <button aria-label="@_localizer["search"]" class="header-nav-button d-none d-md-block" type="button" data-bs-toggle="modal" data-bs-target="#searchModal">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
        </svg>
    </button>
    <!--/Search button -->
    <!-- Admin Menu -->
    @if (User.Identity.IsAuthenticated)
    {
        <div class="dropdown">
            <button class="header-nav-link -login ms-4" title="@_localizer["login"]" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false" aria-label="Admin Menu - John">
                <span class="me-1 d-none d-md-inline">@currentUserAuthor.DisplayName</span>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-down" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z" />
                </svg>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
                <li><a class="dropdown-item" href="~/admin/">@_localizer["dashboard"]</a></li>
                <li><a class="dropdown-item" href="~/admin/newsletter/">@_localizer["newsletter"]</a></li>
                <li><a class="dropdown-item" href="~/admin/settings/">@_localizer["settings"]</a></li>
                <li><a class="dropdown-item" href="~/admin/settings/customize/">@_localizer["customize"]</a></li>
                <li><a class="dropdown-item" href="~/admin/profile/">@_localizer["edit-profile"]</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="~/admin/logout/">@_localizer["logout"]</a></li>
            </ul>
        </div>
    }
    @*    else
    {
    <a class="header-nav-button -login ms-4" href="~/admin/login/" title="@_localizer["login"]" aria-label="@_localizer["login"]" role="button">
    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
    </svg>
    </a>
    }*@
    <!--/Admin Menu -->

</nav>
