@model Blogifier.Core.Data.Models.AdminBaseModel
@using Blogifier.Core.Common
@{
    Layout = "~/Views/Blogifier/Admin/Custom/_Layout/_Settings.cshtml";
}
<table class="table">
    <thead>
        <tr>
            <th colspan="2">Application settings</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>OperatingSystem</td>
            <td>@ApplicationSettings.OSDescription</td>
        </tr>
        <tr>
            <td>WebRootPath</td>
            <td style="word-break:break-all">@ApplicationSettings.WebRootPath</td>
        </tr>
        <tr>
            <td>ContentRootPath</td>
            <td style="word-break:break-all">@ApplicationSettings.ContentRootPath</td>
        </tr>
        <tr>
            <td>EnableLogging</td>
            <td>@ApplicationSettings.EnableLogging</td>
        </tr>
        <tr>
            <td>UseInMemoryDatabase</td>
            <td>@ApplicationSettings.UseInMemoryDatabase</td>
        </tr>
        <tr>
            <td>ConnectionString</td>
            <td>@ApplicationSettings.ConnectionString</td>
        </tr>
        <tr>
            <td>BlogStorageFolder</td>
            <td>@ApplicationSettings.BlogStorageFolder</td>
        </tr>
        <tr>
            <td>SupportedStorageFiles</td>
            <td>@ApplicationSettings.SupportedStorageFiles</td>
        </tr>
        <tr>
            <td>AdminTheme</td>
            <td>@ApplicationSettings.AdminTheme</td>
        </tr>
        <tr>
            <td>BlogTheme</td>
            <td>@ApplicationSettings.BlogTheme</td>
        </tr>
        <tr>
            <td>ProfileAvatar</td>
            <td>@ApplicationSettings.ProfileAvatar</td>
        </tr>
        <tr>
            <td>ProfileLogo</td>
            <td>@ApplicationSettings.ProfileLogo</td>
        </tr>
        <tr>
            <td>ProfileImage</td>
            <td>@ApplicationSettings.ProfileImage</td>
        </tr>
        <tr>
            <td>PostImage</td>
            <td>@ApplicationSettings.PostImage</td>
        </tr>

        <tr>
            <td>Version</td>
            <td>@ApplicationSettings.Version</td>
        </tr>
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th colspan="2">Default social buttons</th>
        </tr>
    </thead>
    <tbody>
        @if(ApplicationSettings.SocialButtons != null)
        {
            foreach (var button in ApplicationSettings.SocialButtons)
            {
                <tr>
                    <td>@button.Key</td>
                    <td>@button.Value</td>
                </tr>
            }
        }
    </tbody>
</table>
<table class="table">
    <thead>
        <tr>
            <th colspan="2">Troubleshooting</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Add ContentType headers</td>
            <td>@ApplicationSettings.AddContentTypeHeaders</td>
        </tr>
        <tr>
            <td>Add Content Length Headers</td>
            <td>@ApplicationSettings.AddContentLengthHeaders</td>
        </tr>
        <tr>
            <td>Prepend File Provider</td>
            <td>@ApplicationSettings.PrependFileProvider</td>
        </tr>
    </tbody>
</table>