@model PostPagerModel
@inject IStringLocalizer<Resource> _localizer

@if (Model.Pager.Pagination)
{
  <ul class="pagination">
    @if (Model.Pager.LinkToOlder != null)
    {
      <li class="pagination-item">
        <a class="pagination-link -prev" href="@Model.Pager.LinkToOlder" title="@_localizer["next-page"]">
          <svg width="16" height="16" class="bi bi-arrow-left">
            <use xlink:href="/_content/@ThemesStandardConstant.AssemblyName/img/icon-sprites.svg#bi-arrow-left"></use>
          </svg>
          @_localizer["previous"]
        </a>
      </li>
    }
    @if (Model.Pager.LinkToNewer != null)
    {
      <li class="pagination-item">
        <a class="pagination-link -next" href="@Model.Pager.LinkToNewer" title="@_localizer["previous-page"]">
          @_localizer["next"]
          <svg width="16" height="16" class="bi bi-arrow-right">
            <use xlink:href="/_content/@ThemesStandardConstant.AssemblyName/img/icon-sprites.svg#bi-arrow-right"></use>
          </svg>
        </a>
      </li>
    }
  </ul>
}
