@model AuthorPostListModel
@{
    Layout = "~/Views/Themes/Standard/_Layout.cshtml";
    ViewData["bodyClass"] = "home";
    var pgr = Model.Pager;

    ViewBag.Logo = $"{Url.Content("~/")}{AppSettings.Logo}";
    ViewBag.Cover = $"{Url.Content("~/")}{AppSettings.Cover}";
    ViewBag.Title = AppSettings.Title;
    ViewBag.Description = AppSettings.Description;
}
<div class="page-content">
    <div class="container" style="padding: 40px 0">

        <div class="row ">
            <div class="col-md-2" style="padding: 20px">
                <img src="~/@Model.Author.Avatar" style="width: 140px">
            </div>
            <div class="col-md-10 px-3">
                <div class="card-block px-3">
                    <h2 class="card-title">@Model.Author.DisplayName</h2>
                    @Html.Raw(Model.Author.Bio)
                </div>
            </div>
        </div>

        <h4 style="line-height: 3em">Latest posts by @Model.Author.DisplayName</h4>

        <div class="list-group">
            @if (Model.Posts.Any())
            {
                foreach (var post in Model.Posts)
                {
                <a href="~/blog/@post.Slug" class="list-group-item list-group-item-action">
                    <b>@post.Title</b>
                    @post.Description
                </a>
                }
            }
        </div>
    </div>
</div>