@model ListModel
@{
    ViewData["bodyClass"] = "home";
    var pgr = Model.Pager;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/Standard/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"]">
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <partial name="~/Views/Themes/Standard/_Shared/_Header.cshtml" />

    <div class="page-cover" style="background-image: url('@Model.Blog.Cover')">
        <h1 class="page-cover-title">
            @if (Model.PostListType == PostListType.Search)
            {
                <a href="#"><i class="fa fa-search"></i> @Model.Blog.Title</a>
            }
            else if (Model.PostListType == PostListType.Author)
            {
                <a href="~/">
                    <img src="~/@Model.Author.Avatar" class="rounded-circle" style="width: 52px" /> @Model.Author.DisplayName
                </a>
            }
            else if (Model.PostListType == PostListType.Category)
            {
                <a href="#"><i class="fa fa-tag"></i> @ViewBag.Category</a>
            }
            else
            {
                <a href="~/">@Model.Blog.Title</a>
            }
        </h1>
        <p class="page-cover-desc">@Model.Blog.Description</p>
    </div>

    <div class="page-content">
        <div class="container">
            @if (Model.Posts != null)
            {
                foreach (var item in Model.Posts)
                {
                    var img = string.IsNullOrEmpty(item.Cover) ? Model.Blog.Cover : item.Cover;
                    <article class="post">
                        <div class="post-cover">
                            <img src="~/@img" alt="@item.Title">
                            @if (item.Featured)
                            {
                            <span class="post-featrued-label"><i class="fa fa-star"></i> Featured</span>
                            }
                        </div>
                        <h2 class="post-title"><a href="~/posts/@item.Slug">@item.Title</a></h2>
                        <div class="post-meta">
                            <a class="post-meta-author" href="~/authors/@item.Author.AppUserName">@item.Author.DisplayName</a>
                            <time class="post-meta-time">/ @item.Published.ToFriendlyDateString()</time>
                        </div>
                        <div class="post-description">@Html.Raw(Markdig.Markdown.ToHtml(item.Description))</div>
                        <a class="post-more btn btn-rounded btn-dark" href="~/posts/@item.Slug">Read</a>
                    </article>
                }
            }
            @if (pgr != null && (pgr.ShowOlder || pgr.ShowNewer))
            {
                <ul class="pagination justify-content-center">
                    @if (pgr.ShowOlder)
                    {
                    <li class="item item-prev">
                        <a class="item-link" href="~/@pgr.LinkToOlder">
                            <i class="item-icon fa fa-angle-left"></i>
                        </a>
                    </li>
                    }
                    @if (pgr.ShowNewer)
                    {
                    <li class="item item-next">
                        <a class="item-link" href="~/@pgr.LinkToNewer">
                            <i class="item-icon fa fa-angle-right"></i>
                        </a>
                    </li>
                    }
                </ul>
            }
        </div>
    </div>

    <partial name="~/Views/Themes/Standard/_Shared/_Footer.cshtml" />
</body>
</html>