@page "/admin/settings"

@inject IJsonStringLocalizer<Settings> Localizer

<div class="container-fluid">

    <div class="row bf-row">
        <div class="col-lg-2 col-md col-sm bf-col"></div>
        <div class="col-lg-8 col-md-12 col-sm-12 bf-col">

            <ul class="nav nav-tabs" id="newsletter-tab" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">@Localizer["settings"]</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="social-tab" data-toggle="tab" href="#social" role="tab" aria-controls="social" aria-selected="false">Social</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Disqus</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="info-tab" data-toggle="tab" href="#info" role="tab" aria-controls="info" aria-selected="false">Info</a>
                </li>
            </ul>
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane tab-subscription fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                    <div class="card">
                        <div class="card-body">
                            <EditForm Model="@Model" OnValidSubmit="HandleValidSubmit">
                                <DataAnnotationsValidator />
                                <ValidationSummary />
                                <fieldset>
                                    <div>
                                        <label>@Localizer["title"]</label>
                                        <input type="text" @bind="Model.Title" name="title" />
                                    </div>
                                    <div>
                                        <label>@Localizer["description"]</label>
                                        <input type="text" @bind="Model.Description" name="description" />
                                    </div>
                                    <div>
                                        <label>@Localizer["items-per-page"]</label>
                                        <input type="text" @bind="Model.ItemsPerPage" name="pageitems" />
                                    </div>
                                    <div class="input-group">
                                        <label>@Localizer["logo"]</label>
                                        <input type="text" class="form-control txt-upload" @bind="Model.Logo" name="logo" id="logo" readonly="" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary btn-upload" onclick="return fileManager.uploadClick('@UploadType.AppLogo');" type="button"> @Localizer["select"]</button>
                                        </span>
                                    </div>
                                    <div class="input-group">
                                        <label>@Localizer["cover"]</label>
                                        <input type="text" class="form-control txt-upload" @bind="Model.Cover" name="cover" id="cover" readonly="" />
                                        <span class="input-group-btn">
                                            <button class="btn btn-secondary btn-upload" onclick="return fileManager.uploadClick('@UploadType.AppCover');" type="button"> @Localizer["select"]</button>
                                        </span>
                                    </div>
                                    <div class="input-group">
                                        <label>@Localizer["language"]</label>
                                        <select @bind="Model.Culture">
                                            @if (Cultures != null)
                                            {
                                                @foreach (var culture in Cultures)
                                                {
                                                    <option value="@culture.Value">@culture.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                    <div class="input-group">
                                        <label>@Localizer["theme"]</label>
                                        <select @bind="Model.Theme">
                                            @if (Themes != null)
                                            {
                                                @foreach (var theme in Themes)
                                                {
                                                    <option value="@theme.Value">@theme.Text</option>
                                                }
                                            }
                                        </select>
                                    </div>

                                    <div>
                                        <label>&nbsp;</label>
                                        <input type="submit" value="@Localizer["save"]" class="btn btn-primary" />
                                    </div>
                                </fieldset>
                            </EditForm>
                        </div>
                    </div>

                </div>
                <div class="tab-pane fade" id="social" role="tabpanel" aria-labelledby="social-tab">
                    <SocialAdmin Level="blog" />
                </div>
                <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                    <Disqus />
                </div>
                <div class="tab-pane fade" id="info" role="tabpanel" aria-labelledby="info-tab">
                    <div class="card">
                        <div class="card-body">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td><label>Blogifier</label></td>
                                        <td>v.@BlazorVersion</td>
                                    </tr>
                                    <tr>
                                        <td><label>Blogifier.Core</label></td>
                                        <td>v.@AppSettings.Version</td>
                                    </tr>
                                    <tr>
                                        <td><label>Database</label></td>
                                        <td>@DbProviderName</td>
                                    </tr>
                                    <tr>
                                        <td><label>Root</label></td>
                                        <td>@AppSettings.ContentRootPath</td>
                                    </tr>
                                    <tr>
                                        <td><label>OS</label></td>
                                        <td>@AppSettings.OSDescription</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="col-lg-2 col-md col-sm bf-col"></div>
    </div>
</div>