@model PostModel
<!DOCTYPE html>
<html lang="en">
<head>
    <partial name="~/Views/Themes/bridge/_Shared/_Head.cshtml" />
</head>
<body class="@ViewData["bodyClass"]">
    <!--[if lt IE 10]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <partial name="~/Views/Themes/bridge/_Shared/_Header.cshtml" />



    <div class="page-content">


        <article class="post">
            <div class="post-cover">
                <img src="@Model.Blog.Cover" alt="@Model.Post.Title">

            </div>
            <div class="container">
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-10">
                        <header class="post-header">
                            <h2 class="post-title">@Model.Post.Title</h2>
                        </header>
                    </div>
                    <div class="col-sm-2">
                        <div class="post-meta">
                            <a class="post-meta-author" href="~/authors/@Model.Post.Author.AppUserName">
                                <img class="post-meta-author-avatar"  src="~/@Model.Post.Author.Avatar" alt="@Model.Post.Author.DisplayName" />
                                <div class="post-meta-author-name">@Model.Post.Author.DisplayName</div>
                            </a>
                            <div class="post-meta-category">

                                @if (!string.IsNullOrEmpty(Model.Post.Categories))
                                            {
                                            var cats = Model.Post.Categories.Split(',');

                                            foreach (var cat in cats)
                                            {
                               <a href="~/categories/@cat">@cat</a>
                                            }
                                            }
                            </div>
                            <time class="post-meta-time">@string.Format("{0:MMM d, yyyy}", Model.Post.Published)</time>
                        </div>
                    </div>
                    <div class="col-sm-10">
                        <div class="post-content">@Html.Raw(Model.Post.Content)</div>
                        
                    </div>
                </div>
            </div>
        </article>


                

                    @if (Model.Older != null || Model.Newer != null)
                {
                    <ul class="pagination justify-content-center">
                        @if (Model.Older != null)
                        {
                        <li class="item item-prev">
                            <a class="item-link" href="~/posts/@Model.Older.Slug" title="@Model.Older.Title">
                                <i class="fa fa-chevron-left"></i>
                            </a>
                        </li>
                        }
                        @if (Model.Newer != null)
                        {
                        <li class="item item-next">
                            <a class="item-link" href="~/posts/@Model.Newer.Slug" title="@Model.Newer.Title">
                                <i class="fa fa-chevron-right"></i>
                            </a>
                        </li>
                        }
                    </ul>
                }
    </div>




    <partial name="~/Views/Themes/bridge/_Shared/_Footer.cshtml" />
</body>
</html>
