@inject CustomHttpClient Http
@inject IHttpContextAccessor HttpContextAccessor

@inject IJsonStringLocalizer<ProfileAuthor> Localizer
@inject IToaster Toaster
@inject NavigationManager NavigationManager

@if (Author != null)
{
    <EditForm Model="@Author" OnValidSubmit="Save">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <div class="form-group">
            <label class="form-control-label">@Localizer["user-name"]</label>
            <input type="text" class="form-control" @bind="Author.DisplayName" name="display-name" />
        </div>
        <div class="form-group">
            <label class="form-control-label">@Localizer["email"]</label>
            <input type="email" class="form-control" @bind="Author.Email" name="e-mail" />
        </div>
        <div class="form-group">
            <label class="form-control-label">@Localizer["user-bio"]</label>
            <textarea class="form-control" rows="3" @bind="Author.Bio" name="bio" />
        </div>
        <div class="form-group">
            <label class="form-control-label">@Localizer["avatar"]</label>
            <div class="input-group">
                <input type="text" class="form-control txt-upload" @bind="Author.Avatar" name="avatar" id="avatar" readonly="" />
                <span class="input-group-append">
                    <button class="btn btn-outline-secondary px-md-4" onclick="return fileManager.uploadClick('@UploadType.Avatar');" type="button"> @Localizer["select"]</button>
                </span>
            </div>
        </div>
        <div class="form-submit-button">
            <button type="submit" class="btn btn-brand">@Localizer["save"]</button>
        </div>
    </EditForm>
}

@code {
    [CascadingParameter]
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected Author Author { get; set; }
    protected HttpRequest Request { get; set; }

    protected override async Task OnInitializedAsync()
    {
        Request = HttpContextAccessor.HttpContext.Request;
        var authState = await AuthenticationStateTask;

        if (authState == null || !authState.User.Identity.IsAuthenticated)
            NavigationManager.NavigateTo($"account/login?returnUrl={AppSettings.SiteRoot}admin");

        Author = await Http.GetJsonAsync<Author>($"authors/{authState.User.Identity.Name}", Request);
        var x = Author.DisplayName;
    }

    protected async Task Save()
    {
        try
        {
            await Http.PutJsonAsync($"authors/update", Request, Author);
            Toaster.Success("Saved");
        }
        catch (Exception ex)
        {
            Toaster.Error(ex.Message);
        }
    }
}
