@using Core.Data.Models

<div class="card">
    <div class="card-body">
        <fieldset>
            <div class="input-group">
                <label>@Localizer["email-provider"]</label>
                <select @bind="SelectedProvider">
                    @if (Model.Providers != null)
                    {
                        @foreach (var provider in Model.Providers)
                        {
                            <option value="@provider.Key">@provider.Label</option>
                        }
                    }
                </select>
            </div>
            @if (Model.SelectedProvider == EmailProvider.SendGrid)
            {
            <div class="input-group">
                <label>@Localizer["sendgrid-key"]</label>
                <input class="form-control" type="text" @bind="Model.SendGridModel.ApiKey" />
            </div>
            }
            @if (Model.SelectedProvider == EmailProvider.MailKit)
            {
            <div class="input-group">
                <label>@Localizer["email-address"]</label>
                <input class="form-control" type="text" @bind="Model.MailKitModel.EmailAddress" placeholder="someone@gmail.com" />
            </div>
            <div class="input-group">
                <label>@Localizer["email-name"]</label>
                <input class="form-control" type="text" @bind="Model.MailKitModel.EmailName" />
            </div>
            <div class="input-group">
                <label>@Localizer["password"]</label>
                <input class="form-control" type="password" @bind="Model.MailKitModel.EmailPassword" />
            </div>
            <div class="input-group">
                <label>@Localizer["email-server"]</label>
                <input class="form-control" type="text" @bind="Model.MailKitModel.EmailServer" placeholder="smtp.gmail.com" />
            </div>
            <div class="input-group">
                <label>@Localizer["email-port"]</label>
                <input class="form-control" type="text" @bind="Model.MailKitModel.Port" />
            </div>
            }
            <div>
                <label>&nbsp;</label>
                <input type="button" value="@Localizer["save"]" @onclick="OnSave" class="btn btn-primary" />
            </div>
        </fieldset>

        <fieldset>
            <div class="input-group">
                <label>@Localizer["email-to"]</label>
                <input class="form-control" type="text" @bind="SendTo" placeholder="me@gmail.com" />
            </div>
            <div>
                <label>&nbsp;</label>
                <input type="button" value="@Localizer["check-configuration"]" @onclick="OnCheck" class="btn btn-secondary" />
                @if ((Model.SelectedProvider == EmailProvider.MailKit && Model.MailKitModel.Configured) ||
                  (Model.SelectedProvider == EmailProvider.SendGrid && Model.SendGridModel.Configured))
                {
                    <span>Configured</span>
                }
            </div>
        </fieldset>
    </div>
</div>
