<div class="app-posts">
    @if (Posts == null)
    {
        <div class="loading">Loading...</div>
    }
    else
    {

        <div class="app-posts-toolbar d-flex">
            <div class="app-posts-selectall custom-control custom-checkbox mr-3" data-toggle="tooltip" title="Select All">
                <input type="checkbox" class="custom-control-input" id="EXAMPLESELECTALL">
                <label class="custom-control-label" for="EXAMPLESELECTALL"><span class="sr-only">Select All</span></label>
            </div>
            <div class="app-posts-actions btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-light" data-toggle="tooltip" title="Featured">
                    <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                    </svg>
                </button>
                <button type="button" class="btn btn-light" data-toggle="tooltip" title="Publish">
                    <svg class="bi bi-check" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.97 4.97a.75.75 0 0 1 1.071 1.05l-3.992 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.236.236 0 0 1 .02-.022z" />
                    </svg>
                </button>
                <button type="button" class="btn btn-light" data-toggle="tooltip" title="Archive">
                    <svg class="bi bi-archive-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M12.643 15C13.979 15 15 13.845 15 12.5V5H1v7.5C1 13.845 2.021 15 3.357 15h9.286zM6 7a.5.5 0 0 0 0 1h4a.5.5 0 0 0 0-1H6zM.8 1a.8.8 0 0 0-.8.8V3a.8.8 0 0 0 .8.8h14.4A.8.8 0 0 0 16 3V1.8a.8.8 0 0 0-.8-.8H.8z" />
                    </svg>
                </button>
                <button type="button" class="btn btn-light" data-toggle="tooltip" title="Delete">
                    <svg class="bi bi-trash-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5a.5.5 0 0 0-1 0v7a.5.5 0 0 0 1 0v-7z" />
                    </svg>
                </button>
            </div>
            <div class="app-posts-search ml-auto">
                <input @bind="SearchTerm" @onkeyup="SearchKeyPress" class="app-posts-search-input" type="search" placeholder="@Localizer["search"]">
                <button @onclick="(async () => await SearchPosts())" class="app-posts-search-button" type="button">
                    <svg class="bi bi-search app-posts-search-icon" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                        <path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                    </svg>
                </button>
            </div>
            <div class="dropdown app-posts-filters ml-3">
                <button class="btn btn-light dropdown-toggle" type="button" id="filterByStatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span>All</span> Posts
                </button>
                <div class="dropdown-menu" aria-labelledby="filterByStatus">
                    <button class="dropdown-item">All</button>
                    <button class="dropdown-item">Archived</button>
                    <button class="dropdown-item">Published</button>
                </div>
            </div>
        </div>

        @if (Posts == null || Posts.Count() == 0)
        {
            <div class="notfound">@Localizer["empty"]</div>
        }

        <ul class="app-posts-list" aria-label="posts">
            @foreach (var post in Posts)
            {
                <li class="app-posts-item d-flex align-items-center">
                    @{
                        string title = post.Title.Length < 60 ? post.Title : post.Title.Substring(0, 57) + "...";
                        string pubStatus = post.IsPublished ? "published" : "draft";
                        string pubDate = post.IsPublished ? post.Published.ToFriendlyShortDateString() : "Draft";
                        string featured = post.Featured ? "is-featured" : "";
                    }
                    <div class="app-posts-item-select custom-control custom-checkbox mr-3">
                        <input type="checkbox" class="custom-control-input" id="EXAMPLE_@(post.Id)">
                        <label class="custom-control-label" for="EXAMPLE_@(post.Id)"><span class="sr-only">Select All</span></label>
                    </div>

                    <a class="app-posts-item-link" href="" @onclick="(() => EditPost(post.Id))" @onclick:preventDefault>@title</a>
                    <span class="app-posts-item-date ml-auto d-none d-lg-block ml-3">@pubDate</span>
                    <button class="app-posts-item-status app-posts-item-status-@pubStatus ml-3" @onclick="(async () => await Publish(post.Id, post.IsPublished))"  data-toggle="tooltip" title="Status">
                        <svg class="bi bi-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <circle cx="8" cy="8" r="8" />
                        </svg>
                    </button>
                    <button class="app-posts-item-featured @featured ml-3" @onclick="(async () => await Feature(post.Id, post.Featured))" data-toggle="tooltip" title="Featured">
                        <svg class="bi bi-star-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.283.95l-3.523 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z" />
                        </svg>
                        <svg class="bi bi-star" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.523-3.356c.329-.314.158-.888-.283-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767l-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288l1.847-3.658 1.846 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.564.564 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                        </svg>

                    </button>
                    <a href="posts/@post.Slug" target="_blank" class="app-posts-item-external ml-3" data-toggle="tooltip" title="Link">
                        <svg class="bi bi-box-arrow-up-right" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M1.5 13A1.5 1.5 0 0 0 3 14.5h8a1.5 1.5 0 0 0 1.5-1.5V9a.5.5 0 0 0-1 0v4a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 0 0-1H3A1.5 1.5 0 0 0 1.5 5v8zm7-11a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v5a.5.5 0 0 1-1 0V2.5H9a.5.5 0 0 1-.5-.5z" />
                            <path fill-rule="evenodd" d="M14.354 1.646a.5.5 0 0 1 0 .708l-8 8a.5.5 0 0 1-.708-.708l8-8a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </a>
                </li>
            }
        </ul>

        @if (Pager != null && (Pager.ShowOlder || Pager.ShowNewer))
        {
            <ul class="pagination justify-content-center">
                @if (Pager.ShowOlder)
                {
                    <li class="item item-prev">
                        <a class="item-link" href="" @onclick="(async () => await LoadPosts(Pager.Older))" @onclick:preventDefault>
                            <span class="item-icon oi oi-chevron-left" title="Older"></span>
                        </a>
                    </li>
                }
                <li class="item item-text"><span class="text-active">@Pager.CurrentPage</span><span>out of @Pager.LastPage</span></li>
                @if (Pager.ShowNewer)
                {
                    <li class="item item-next">
                        <a class="item-link" href="" @onclick="(async () => await LoadPosts(Pager.Newer))" @onclick:preventDefault>
                            <span class="item-icon oi oi-chevron-right" title="Newer"></span>
                        </a>
                    </li>
                }
            </ul>
        }
    }

</div>


@if (Edit)
{
    <PostEditor PostId="@PostId" HideCallback="HideEditor" />
}
