<div class="card dash themes">
    <div class="card-body">
        <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-4">
                <div class="card theme-active">
                    <img src="@CurrentTheme.Cover" class="card-img-top" alt="@CurrentTheme.Title">
                    <div class="card-body">
                        <h5 class="card-title">
                            @CurrentTheme.Title
                            <span><i class="fa fa-check-square-o fa-4" aria-hidden="true"></i></span>
                        </h5>
                    </div>
                </div>
            </div>
            @foreach (var item in ThemeItems)
            {
            <div class="col mb-4">
                <div class="card">
                    <img src="@item.Cover" class="card-img-top" alt="@item.Title">
                    <div class="card-body">
                        <h5 class="card-title">
                            @item.Title 
                            <span>
                                <a href="#" @onclick="()=> SelectTheme(item.Title)" @onclick:preventDefault>@Localizer["select"]</a>
                            </span>
                        </h5>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
</div>